@import 'src/styles/color.module.scss';

$radioBorder: var(--radioBorder, $light-primary300);
$radioBorderChecked: var(--radioBorderChecked, $light-blue400);
$radioBorderChecked-disabled: var(
  --radioBorderChecked-disabled,
  $light-primary400
);
$radioBorderCheckedHover: var(--radioBorderCheckedHover, $light-blue500);
$radioBorderDisabled: var(--radioBorderDisabled, $light-primary300);
$radioBorder-hover: var(--radioBorder-hover, $light-blue500);

$radioBackground: var(--radioBackground);
$radioBackgroundChecked: var(--radioBackgroundChecked);
$radioBackgroundCheckedHover: var(--radioBackgroundCheckedHover);
$radioBackgroundCheckedDisabled: var(
  --radioBackgroundCheckedDisabled,
  $light-primary300
);
$radioBackgroundDisabled: var(--radioBackgroundDisabled, $light-primary200);
$radioBackgroundHover: var(--radioBackgroundHover);

$radioText: var(--radioText, $light-primary900);
$radioTextHover: var(--radioTextHover, $light-blue600);
$radioTextDisabled: var(--radioTextDisabled, $light-primary300);

$radioPupil: var(--radioPupil, $radioBorderChecked);
$radioPupilDisabled: var(--radioPupilDisabled, $light-primary500);
$radioPupilHover: var(--radioPupilHover, $radioBorder-hover);
