@import '@src/styles/color.module.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 18px;
  font-weight: 700;
  &.light {
    color: $light-primary900;
  }
  &.dark {
    color: $light-blue000;
  }

  .contents {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .categories {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      padding: 24px;
      border-radius: 8px;
      width: calc(100% - 82px);
      &.light {
        border: 1px solid $black;
      }
      &.dark {
        border: 1px solid $white;
      }
      .color {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
        .block {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 8px;
          .preview {
            width: 50px;
            aspect-ratio: 1;
            border-radius: 8px;
            &.light {
              box-shadow: 0px 3px 6px rgba(100, 10, 50, 0.1);
            }
            &.dark {
              box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.9);
            }
          }
        }
      }
    }
  }
}
