@import '@src/styles/color.module.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 18px;
  font-weight: 700;
  &.light {
    color: $light-primary900;
  }
  &.dark {
    color: $light-blue000;
  }
  .title {
    font-size: 32px;
    font-weight: 900;
  }
  .contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6%, auto));
    column-gap: 36px;
    row-gap: 24px;
    .color {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 8px;
      .preview {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 8px;
        box-shadow: 0px 3px 6px rgba(100, 10, 50, 0.1);
        // place-content: center;
      }
    }
  }
}
