@import '../../../styles/color/color.module.scss';

$cdkit-color-input-border: var(--cdkit-color-input-border, $light-primary600);
$cdkit-color-input-border-focus: var(
  --cdkit-color-input-border-focus,
  $light-blue500
);
$cdkit-color-input-border-error: var(
  --cdkit-color-input-border-error,
  $light-danger
);
$cdkit-color-input-border-disabled: var(
  --cdkit-color-input-border-disabled,
  $light-gray100
);
$cdkit-color-input-border-hover: var(
  --cdkit-color-input-border-hover,
  $light-blue300
);

$cdkit-color-input-bg: var(--cdkit-color-input-bg, $light-background);
$cdkit-color-input-bg-focus: var(
  --cdkit-color-input-bg-focus,
  $light-background
);
$cdkit-color-input-bg-error: var(
  --cdkit-color-input-bg-error,
  $light-background
);
$cdkit-color-input-bg-disabled: var(
  --cdkit-color-input-bg-disabled,
  $light-gray000
);
$cdkit-color-input-bg-hover: var(
  --cdkit-color-input-bg-hover,
  $light-background
);

$cdkit-color-input-text: var(--cdkit-color-input-text, $light-text);
$cdkit-color-input-text-focus: var(--cdkit-color-input-text-focus, $light-text);
$cdkit-color-input-text-error: var(--cdkit-color-input-text-error, $light-text);
$cdkit-color-input-text-disabled: var(
  --cdkit-color-input-text-disabled,
  $light-gray200
);
$cdkit-color-input-text-hover: var(--cdkit-color-input-text-hover, $light-text);

$cdkit-color-input-placeholder: var(
  --cdkit-color-input-placeholder,
  $light-gray100
);
$cdkit-color-input-placeholder-disabled: var(
  --cdkit-color-input-placeholder-disabled,
  $light-gray100
);
