@import 'src/styles/color.module.scss';

$ss-c-table-bg: var(--ss-c-table-bg, $light-primary000);

$ss-c-table-border: var(--ss-c-table-border, $light-primary300);

$ss-c-table-header-bg: var(--ss-c-table-header-bg, $light-primary100);
$ss-c-table-footer-bg: var(--ss-c-table-footer-bg, $light-primary000);

$ss-c-table-divide-line: var(--ss-c-table-divide-line, $light-primary400);
$ss-c-table-body-bg-hover: var(--ss-c-table-body-bg-hover, $light-blue100);

$ss-c-table-text: var(--ss-c-table-text, $light-primary900);

$ss-c-table-pagination-index-bg: var(
  --ss-c-table-pagination-index-bg,
  $light-primary000
);
$ss-c-table-pagination-index-bg-selected: var(
  --ss-c-table-pagination-index-bg-selected,
  $light-blue600
);
$ss-c-table-pagination-index-bg-disabled: var(
  --ss-c-table-pagination-index-bg-disabled,
  $light-primary100
);
$ss-c-table-pagination-index-bg-hover: var(
  --ss-c-table-pagination-index-bg-hover,
  $light-blue100
);
$ss-c-table-pagination-index-text: var(
  --ss-c-table-pagination-index-text,
  $light-primary900
);
$ss-c-table-pagination-index-text-hover: var(
  --ss-c-table-pagination-index-text-hover,
  $light-primary900
);
$ss-c-table-pagination-index-text-selected: var(
  --ss-c-table-pagination-index-text-selected,
  $light-primary000
);
$ss-c-table-pagination-index-text-disabled: var(
  --ss-c-table-pagination-index-text-disabled,
  $light-primary000
);

$ss-c-table-pagination-arrow: var(
  --ss-c-table-pagination-arrow,
  $light-primary600
);
$ss-c-table-pagination-arrow-disabled: var(
  --ss-c-table-pagination-arrow-disabled,
  $light-primary100
);
