@import 'src/styles/color.module.scss';

$ss-c-table-bg: var(--ss-c-table-bg, $light-primary000);

$ss-c-table-border: var(--ss-c-table-border, $light-primary300);

$ss-c-table-header-bg: var(--ss-c-table-header-bg, $light-primary100);
$ss-c-table-footer-bg: var(--ss-c-table-footer-bg, $light-primary000);

$ss-c-table-body-bg: var(--ss-c-table-body-bg, $light-primary400);
$ss-c-table-body-bg-hover: var(--ss-c-table-body-bg-hover, $light-blue100);

$ss-c-table-text: var(--ss-c-table-text, $light-primary900);

$tablePaginationIndexBorder: var(--tablePaginationIndexBorder, $light-blue200);
$tablePaginationIndexText: var(--tablePaginationIndexText, $light-primary900);

$tablePaginationArrow: var(--tablePaginationArrow, $light-primary600);
