@import '../Flex/flex.scss';

$cdkit-layout-stack-gap: var(--cdkit-layout-stack-gap, 0px);

.stack {
  @include flex;
  &.row {
    flex-direction: column;
    row-gap: $cdkit-layout-stack-gap;
  }
  &.column {
    flex-direction: row;
    column-gap: $cdkit-layout-stack-gap;
  }
}
