@import './variable/variable.module.scss';

@mixin color-set {
  .mark {
    border-color: $radioBorder;
    background: $radioBackground;
    &.checked {
      border-color: $radioBorderChecked;
      background: $radioBackgroundChecked;
      &.disabled {
        border-color: $radioBorderChecked-disabled;
        background: $radioBackgroundCheckedDisabled;
      }
      &:not(.disabled):hover {
        border-color: $radioBorderCheckedHover;
        background: $radioBackgroundCheckedHover;
      }
    }

    .pupil {
      background: $radioPupil;
      &.disabled {
        background: $radioPupilDisabled;
      }
    }

    &.disabled {
      border-color: $radioBorderDisabled;
      background: $radioBackgroundDisabled;
      .pupil {
        background: $radioPupilDisabled;
      }
    }
  }
  &:hover {
    .mark {
      border-color: $radioBorder-hover;
      background: $radioBackgroundHover;
      .pupil {
        &:not(.disabled) {
          background: $radioPupilHover;
        }
      }
    }
    .children {
      color: $radioTextHover;
    }
  }
  .children {
    color: $radioText;
    &.disabled {
      color: $radioTextDisabled;
    }
  }
}

@mixin size {
  &.xs {
    .mark {
      width: 12px;
      .pupil {
        width: 6px;
      }
    }
    .children {
      font-size: 12px;
    }
  }
  &.sm {
    .mark {
      width: 14px;
      .pupil {
        width: 8px;
      }
    }
    .children {
      font-size: 14px;
    }
  }
  &.md {
    .mark {
      width: 16px;
      .pupil {
        width: 10px;
      }
    }
    .children {
      font-size: 16px;
    }
  }
  &.lg {
    .mark {
      width: 20px;
      .pupil {
        width: 12px;
      }
    }
    .children {
      font-size: 20px;
    }
  }
}

@mixin pupil {
  .pupil {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 10px;
    place-content: center;
    transform: scale(0);
    transition: transform 0.1s ease, background-color 0.1s ease;
    &.checked {
      transform: scale(1);
    }
  }
}

@mixin mark {
  border: 2px solid;
  aspect-ratio: 1;
  place-content: center;
  border-radius: 50%;
  transition: border-color 0.1s ease;
}

.radio {
  align-items: center;
  -webkit-box-align: center;
  column-gap: 8px;
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
  }
  .mark {
    @include mark;
    @include pupil;
  }
  @include size;
  @include color-set;
  .children {
    transition: color 0.1s ease;
  }
}
