@import './variable/color.module.scss';
@import './variable/size.module.scss';

@mixin color-set {
  .mark {
    border-color: $ss-c-radio-border;
    background: $ss-c-radio-bg;
  }

  .mark.checked {
    border-color: $ss-c-radio-border-checked;
    background: $ss-c-radio-bg-checked;
  }

  .mark.disabled {
    border-color: $ss-c-radio-border-disabled;
    background: $ss-c-radio-bg-disabled;
  }

  .mark.checked.disabled {
    border-color: $ss-c-radio-border-checked-disabled;
    background: $ss-c-radio-bg-checked-disabled;
  }

  .mark > .pupil {
    background: $ss-c-radio-pupil;
  }

  .mark > .pupil.disabled {
    background: $ss-c-radio-pupil-disabled;
  }

  .children {
    color: $ss-c-radio-text;
  }

  .children.disabled {
    color: $ss-c-radio-text-disabled;
  }

  &:hover:not(.disabled) {
    .mark {
      background: $ss-c-radio-bg-checked-hover;
      border-color: $ss-c-radio-border-checked-hover;
    }
    .mark > .pupil {
      background: $ss-c-radio-pupil-hover;
      border-color: $ss-c-radio-pupil-hover;
    }
    .children {
      color: $ss-c-radio-text-hover;
    }
  }

  &:hover:not(.disabled):not(.checked) {
    .mark {
      background: $ss-c-radio-bg-hover;
      border-color: $ss-c-radio-border-hover;
    }
    .children {
      color: $ss-c-radio-text-hover;
    }
  }
}

@mixin pupil {
  .pupil {
    width: $ss-size-radio-pupil;
    height: $ss-size-radio-pupil;
    border-radius: 50%;
    place-content: center;
    transform: scale(0);
    transition: transform 0.1s ease, background-color 0.1s ease;
    &.checked {
      transform: scale(1);
    }
  }
}

@mixin mark {
  width: $ss-size-radio;
  height: $ss-size-radio;
  border: 2px solid;
  border-radius: 50%;
  transition: border-color 0.1s ease;
}

@mixin radio {
  align-items: center;
  -webkit-box-align: center;
  cursor: pointer;
  &.is-children {
    column-gap: 8px;
  }
  &.disabled {
    cursor: not-allowed;
  }
}

@mixin children {
  .children {
    transition: color 0.1s ease;
  }
}

.radio {
  @include radio;
  @include children;
  .mark {
    @include mark;
    @include pupil;
  }
  @include color-set;
}
