@import 'src/layout/center/style.module.scss';
@import './variable/color.module.scss';

@mixin color-set {
  border-color: $upcast-color-input-border;
  background: $upcast-color-input-bg;
  color: $upcast-color-input-text;
  &::placeholder {
    color: $upcast-color-input-placeholder;
  }

  &:disabled {
    border-color: $upcast-color-input-border-disabled;
    background: $upcast-color-input-bg-disabled;
    color: $upcast-color-input-text-disabled;
    &::placeholder {
      color: $upcast-color-input-placeholder-disabled;
    }
  }

  &.error {
    border-color: $upcast-color-input-border-error;
    background: $upcast-color-input-bg-error;
    color: $upcast-color-input-text-error;
  }

  &:hover:not(:disabled):not(.error) {
    border-color: $upcast-color-input-border-hover;
    background: $upcast-color-input-bg-hover;
    color: $upcast-color-input-text-hover;
  }

  &:not(:disabled):not(.error):focus {
    border-color: $upcast-color-input-border-focus;
    background: $upcast-color-input-bg-focus;
    color: $upcast-color-input-text-focus;
  }
}

@mixin input {
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.96em;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.input {
  @include input;
  @include color-set;
}
