@import 'src/layout/center/style.module.scss';
@import './variable/color.module.scss';

@mixin color-set {
  border-color: $upcast-color-input-border;
  background: $upcast-color-input-bg;
  color: $upcast-color-input-text;
  &::placeholder {
    color: $upcast-color-input-placeholder;
  }

  &:disabled {
    border-color: $upcast-color-input-border-disabled;
    background: $upcast-color-input-bg-disabled;
    color: $upcast-color-input-text-disabled;
    &::placeholder {
      color: $upcast-color-input-placeholder-disabled;
    }
  }

  &.error {
    border-color: $upcast-color-input-border-error;
  }

  &:not(.error):focus {
    border-color: $upcast-color-input-border-focus;
    box-shadow: $upcast-color-input-box-shadow;
  }
}

@mixin input {
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.input {
  @include input;
  @include color-set;
}
