@import '../display.scss';

@mixin center-vertical {
  align-items: center;
  -webkit-box-align: center;
}

@mixin center-horizontal {
  justify-content: center;
  -webkit-box-pack: center;
}

.center {
  height: 100%;
  width: 100%;
  @include display;
  &.vertical {
    @include center-vertical;
  }
  &.horizontal {
    @include center-horizontal;
  }
}
