@import '../GNB.module.scss';

$gnb-background: var(--gnb-background, $primary400);

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: $gnb-width-default;
  background: $gnb-background;
  row-gap: 16px;
  @include transition(width);
}
