@import './variable/color.module.scss';

.badge {
  display: inline-block;
  white-space: nowrap;
  padding: 8px;
  border-radius: 16px;
  min-height: 12px;
  &.primary {
    color: $badgeText;
    background: $badgeBackground;
  }
  &.white {
  }
  &.black {
  }
  &.red {
  }
  &.green {
  }
  &.blue {
  }
}
