@import '@src/styles/color.module.scss';

.tab {
  position: relative;
  background: $light-primary400;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  align-items: center;

  .options {
    display: flex;
    &.vertical {
      flex-direction: column;
    }
  }
  .tab-line {
    position: absolute;
    height: 4px;
    bottom: 0;
    transition: all 0.2s;
    background: $light-primary200;
    z-index: 1;
    &.first {
      border-bottom-left-radius: 4px;
    }
    &.last {
      border-bottom-right-radius: 4px;
    }
  }
  .option {
    position: relative;
    height: 100%;
    transition: background-color 0.2s;
    padding: 16px;
    cursor: pointer;
    &:hover {
      background: $light-primary500;
    }
    .divide {
      height: 100%;
      position: absolute;
      top: 0;
      border: 1px solid $light-primary300;
      opacity: 0.5;
    }
  }
}
