@import './variables.module.scss';

@mixin tab {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  align-items: center;
}

@mixin options {
  .options {
    display: flex;
    &.vertical {
      flex-direction: column;
    }
  }
}

@mixin option {
  .option {
    position: relative;
    height: 100%;
    transition: background-color 0.2s;
    padding: 16px;
    cursor: pointer;
    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}

@mixin tab-line {
  .tab-line {
    position: absolute;
    transition: all 0.2s;
    z-index: 1;
    &.horizontal {
      height: 4px;
      bottom: 0;
      &.first {
        border-bottom-left-radius: 4px;
      }
      &.last {
        border-bottom-right-radius: 4px;
      }
    }
    &.vertical {
      left: 0;
      width: 4px;
      &.first {
        border-top-left-radius: 4px;
      }
      &.last {
        border-bottom-left-radius: 4px;
      }
    }
  }
}

@mixin color-set {
  background: $tab-background;
  .option {
    color: $tab-text;
    &:hover {
      color: $tab-text-hover;
      background: $tab-background-hover;
    }
    &.disabled {
      color: $tab-text-disabled;
      background: $tab-background-disabled;
      &:hover {
        color: $tab-text-disabled;
        background: $tab-background-disabled;
      }
    }
  }
  .tab-line {
    background: $tab-select-line;
  }
}

.tab {
  @include tab;
  @include options;
  @include option;
  @include tab-line;
  @include color-set;
}
