@import './variable/color.module.scss';

@import './type1.module.scss';
@import './type2.module.scss';
@import './type3.module.scss';

@mixin active($transform) {
  &.type-1.active {
    @include type-1($transform);
  }
  &.type-2.active {
    @include type-2($transform);
  }
  &.type-3.active {
    @include type-3($transform);
  }
}

@mixin position($pos) {
  & > span:nth-of-type(1) {
    top: 0;
  }
  & > span:nth-of-type(2) {
    top: $pos;
  }
  & > span:nth-of-type(3) {
    bottom: 0;
  }
  @include active($pos);
}

@mixin size {
  &.xs {
    width: 16px;
    height: 14px;
    @include position(6px);
  }
  &.sm {
    width: 20px;
    height: 16px;
    @include position(7px);
  }
  &.md {
    width: 24px;
    height: 18px;
    @include position(8px);
  }
  &.lg {
    width: 28px;
    height: 22px;
    @include position(10px);
  }
}

@mixin hamburger {
  position: relative;
  cursor: pointer;
  &,
  & > span {
    display: inline-block;
    transition: transform 0.4s, opacity 0.4s;
    box-sizing: border-box;
  }
}

@mixin color-set {
  & > span {
    background: $hamburger-menu-bar-background;
  }
}

@mixin bar {
  & > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 4px;
  }
}

.hamburger {
  @include hamburger;
  @include size;
  @include bar;
  @include color-set;
}
