$cdkit-layout-spacing-gap: var(--cdkit-layout-spacing-gap, 0px);

.spacing {
  &.vertical {
    height: $cdkit-layout-spacing-gap;
    min-height: $cdkit-layout-spacing-gap;
  }
  &.horizontal {
    width: $cdkit-layout-spacing-gap;
    min-width: $cdkit-layout-spacing-gap;
  }
}
