@import './type1.module.scss';
@import './type2.module.scss';
@import './type3.module.scss';
@import './type4.module.scss';

.spinner {
  width: 24px;
  height: 24px;
  font-size: 16px;
  &.type-1 {
    @include type-1;
  }
  &.type-2 {
    @include type-2;
  }
  &.type-3 {
    @include type-3;
  }
  &.type-4 {
    @include type-4;
  }
}
