@import '@styles/color.module.scss';

$switch-background: var(--switch-background, $light-primary300);
$switch-background-checked: var(--switch-background-checked, $light-blue400);
$switch-background-checked-disabled: var(
  --switch-background-checked-disabled,
  $light-primary300
);
$switch-background-checked-hover: var(
  --switch-background-checked-hover,
  $light-blue500
);
$switch-background-disabled: var(
  --switch-background-disabled,
  $light-primary100
);
$switch-background-hover: var(--switch-background-hover, $light-blue200);

$switch-bullet: var(--switch-bullet, $light-primary000);
$switch-bullet-checked: var(--switch-bullet-checked, $light-primary000);
$switch-bullet-checked-disabled: var(
  --switch-bullet-checked-disabled,
  $light-primary200
);
$switch-bullet-checked-hover: var(
  --switch-bullet-checked-hover,
  $light-primary000
);
$switch-bullet-disabled: var(--switch-bullet-disabled, $light-primary200);
$switch-bullet-hover: var(--switch-bullet-hover, $light-primary000);
$switch-bullet-box-shadow: var(
  --switch-bullet-box-shadow,
  0px 3px 6px rgba(63, 63, 63, 0.3)
);

$switch-text: var(--switch-text, $light-primary900);
$switch-text-hover: var(--switch-text-hover, $light-blue500);
$switch-text-disabled: var(--switch-text-disabled, $light-primary300);
