@import '../variable/color.module.scss';

@mixin color-set {
  background-color: $light-background;
  color: $light-text;

  &.disabled {
    background-color: $light-gray000;
    color: $light-gray200;
  }
  &.selected:not(.disabled) {
    background-color: $light-primary100;
  }
  &.reserved:not(.disabled) {
    background-color: $light-primary200;
  }
  &:hover:not(.disabled) {
    background-color: $light-primary200;
  }
}

@mixin select-option {
  padding: 0.625rem;
  &.disabled {
    cursor: not-allowed;
  }
}

.select-option {
  @include select-option;
  @include color-set;
}
