@import '../display.scss';

$cdkit-layout-float-top: var(--cdkit-layout-float-top, 0px);
$cdkit-layout-float-bottom: var(--cdkit-layout-float-bottom, 0px);
$cdkit-layout-float-left: var(--cdkit-layout-float-left, 0px);
$cdkit-layout-float-right: var(--cdkit-layout-float-right, 0px);

.float {
  position: fixed;
  @include display;
  &.lt {
    left: $cdkit-layout-float-left;
    top: $cdkit-layout-float-top;
  }
  &.lb {
    left: $cdkit-layout-float-left;
    bottom: $cdkit-layout-float-bottom;
  }
  &.rt {
    right: $cdkit-layout-float-right;
    top: $cdkit-layout-float-top;
  }
  &.rb {
    right: $cdkit-layout-float-right;
    bottom: $cdkit-layout-float-bottom;
  }
}
