@import 'src/styles/color/color.module.scss';

$upcast-color-popup-bg: var(--upcast-color-popup-bg, $light-primary000);
$upcast-color-popup-text: var(--upcast-color-popup-text, $light-text);
$upcast-color-popup-box-shadow: var(
  --upcast-color-popup-box-shadow,
  0px 3px 6px rgba(0, 0, 0, 0.2)
);
