@import 'src/styles/color/color.module.scss';

$ss-c-popup-bg: var(--ss-c-popup-bg, $light-primary000);
$ss-c-popup-text: var(--ss-c-popup-text, $light-text);
$ss-c-popup-box-shadow: var(
  --ss-c-popup-box-shadow,
  0px 3px 6px rgba(0, 0, 0, 0.2)
);
