@import '@styles/color.module.scss';

$popup-box-shadow: var(--popup-box-shadow, 0px 3px 6px rgba(0, 0, 0, 0.2));
$popup-background: var(--popup-background, $light-primary000);
$popup-text: var(--popup-text, $light-primary900);
