@import '../../../layout/Flex/flex.scss';
@import '../variable/color.module.scss';

@mixin color-set {
  background: $cdkit-color-select-dropbox-bg;
  box-shadow: $cdkit-color-select-dropbox-box-shadow;
}

@mixin select-dropbox {
  position: absolute;
  overflow: auto;
  border-radius: 4px;
  padding: 0;
  transform: scaleY(0);
  transition: ease-in-out, transform 0.2s ease-in-out, padding 0.2s ease-in-out;
  transform-origin: top;
  z-index: 890;
  position: absolute;
  @include flex;
  @include flex-column;
  &.up {
    transform-origin: bottom;
  }
  &.open.is-option {
    transform: scaleY(1);
  }
}

.select-dropbox {
  @include select-dropbox;
  @include color-set;
}
