.checkbox {
  --ss-size-checkbox: 16px;
}

.progress {
  --ss-size-progress-height: 12px;
}

.radio {
  --ss-size-radio: 16px;
  --ss-size-radio-pupil: 10px;
}

.spinner {
  --spinnerSize: 24px;
  --spinnerBorderWidth: 4px;
}

.switch {
  --switchBulletSize: 16px;
  --switchWidth: 44px;
  --switchHeight: 24px;
}
