.checkbox {
  --checkboxSize: 16px;
}

.progress {
  --progressBarHeight: 12px;
}

.radio {
  --radioSize: 16px;
  --radioPupilSize: 10px;
}

.spinner {
  --spinnerSize: 24px;
  --spinnerBorderWidth: 4px;
}

.switch {
  --switchBulletSize: 16px;
  --switchWidth: 44px;
  --switchHeight: 24px;
}
