.checkbox {
  --ss-size-checkbox: 16px;
}

.progress {
  --ss-size-progress-height: 12px;
}

.radio {
  --ss-size-radio: 16px;
  --ss-size-radio-pupil: 10px;
}

.spinner {
  --ss-size-spinner: 24px;
  --ss-size-border-width: 4px;
}

.switch {
  --ss-size-switch-bullet: 16px;
  --ss-size-switch-width: 144px;
  --ss-size-switch-height: 24px;
}
