@import '@src/styles/color.module.scss';

$tab-background: var(--tab-background, $light-primary000);
$tab-background-hover: var(--tab-background-hover, $light-blue100);
$tab-background-disabled: var(--tab-background-disabled, $light-primary100);

$tab-select-line: var(--tab-select-line, $light-blue200);

$tab-text: var(--tab-text, $light-primary900);
$tab-text-hover: var(--tab-text-hover, $light-primary800);
$tab-text-disabled: var(--tab-text-disabled, $light-primary500);
