@import './variable/color.module.scss';
@import './variable/size.module.scss';

@mixin color-set {
  .switch-body {
    background: $ss-c-switch-bg;
    &.checked {
      background: $ss-c-switch-bg-checked;
      &.disabled {
        background: $ss-c-switch-bg-checked-disabled;
      }
    }
    &.disabled {
      background: $ss-c-switch-bg-disabled;
    }
  }

  .switch-bullet {
    background: $ss-c-switch-bullet;
    box-shadow: $ss-c-switch-bullet-box-shadow;
    &.checked {
      background: $ss-c-switch-bullet-checked;
      &.disabled {
        background: $ss-c-switch-bullet-checked-disabled;
        box-shadow: none;
      }
    }
    &.disabled {
      background: $ss-c-switch-bullet-disabled;
      box-shadow: none;
    }
  }

  .children {
    color: $ss-c-switch-text;
    &.disabled {
      color: $ss-c-switch-text-disabled;
    }
  }

  &:not(.disabled):hover {
    .switch-body {
      background: $ss-c-switch-bg-hover;
      &.checked {
        background: $ss-c-switch-bg-checked-hover;
      }
    }
    .switch-bullet {
      background: $ss-c-switch-bullet-hover;
      &.checked {
        background: $ss-c-switch-bullet-checked-hover;
      }
    }
    .children {
      color: $ss-c-switch-text-hover;
    }
  }
}

@mixin switch-body {
  .switch-body {
    border-radius: 16px;
    transition: background-color 0.1s ease;
  }
}

@mixin switch-bullet {
  .switch-bullet {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }
}

@mixin switch {
  position: relative;
  align-items: center;
  -webkit-box-align: center;
  &.is-children {
    column-gap: 8px;
  }
  &:not(.disabled):hover {
    cursor: pointer;
  }
  &.disabled {
    cursor: not-allowed;
  }
}

@mixin size {
  .switch-body {
    width: $ss-size-switch-width;
    height: $ss-size-switch-height;
  }
  .switch-bullet {
    width: $ss-size-switch-bullet;
    height: $ss-size-switch-bullet;
    transform: translateX(4px);
    &.checked {
      transform: translateX(
        #{calc($ss-size-switch-width - $ss-size-switch-bullet - 4px)}
      );
    }
  }
  .children {
    font-size: calc($ss-size-switch-height - 8px);
  }
}

.switch {
  @include switch;
  @include switch-body;
  @include switch-bullet;
  @include size;
  @include color-set;
}
