@import './variable/variable.module.scss';

@mixin color-set {
  .switch-body {
    background: $switchBackground;
    &.checked {
      background: $switchBackgroundChecked;
      &.disabled {
        background: $switchBackgroundCheckedDisabled;
      }
    }
    &.disabled {
      background: $switchBackgroundDisabled;
    }
  }

  .switch-bullet {
    background: $switchBullet;
    box-shadow: $switchBulletBoxShadow;
    &.checked {
      background: $switchBulletChecked;
      &.disabled {
        background: $switchBulletCheckedDisabled;
        box-shadow: none;
      }
    }
    &.disabled {
      background: $switchBulletDisabled;
      box-shadow: none;
    }
  }

  .children {
    color: $switchText;
    &.disabled {
      color: $switchTextDisabled;
    }
  }

  &:not(.disabled):hover {
    .switch-body {
      background: $switchBackgroundHover;
      &.checked {
        background: $switchBackgroundCheckedHover;
      }
    }
    .switch-bullet {
      background: $switchBulletHover;
      &.checked {
        background: $switchBulletCheckedHover;
      }
    }
    .children {
      color: $switchTextHover;
    }
  }
}

@mixin size {
  &.xs {
    .switch-body {
      width: 28px;
      height: 16px;
    }
    .switch-bullet {
      width: 10px;
      height: 10px;
      transform: translateX(4px);
      &.checked {
        transform: translateX(14px);
      }
    }
    .children {
      font-size: 12px;
    }
  }
  &.sm {
    .switch-body {
      width: 36px;
      height: 20px;
    }
    .switch-bullet {
      width: 12px;
      height: 12px;
      transform: translateX(4px);
      &.checked {
        transform: translateX(20px);
      }
    }
    .children {
      font-size: 14px;
    }
  }
  &.md {
    .switch-body {
      width: 44px;
      height: 24px;
    }
    .switch-bullet {
      width: 16px;
      height: 16px;
      transform: translateX(4px);
      &.checked {
        transform: translateX(24px);
      }
    }
    .children {
      font-size: 16px;
    }
  }
  &.lg {
    .switch-body {
      width: 52px;
      height: 28px;
    }
    .switch-bullet {
      width: 18px;
      height: 18px;
      transform: translateX(4px);
      &.checked {
        transform: translateX(30px);
      }
    }
    .children {
      font-size: 20px;
    }
  }
}

@mixin switch-body {
  .switch-body {
    border-radius: 16px;
    transition: background-color 0.1s ease;
  }
}

@mixin switch-bullet {
  .switch-bullet {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }
}

@mixin switch {
  position: relative;
  align-items: center;
  -webkit-box-align: center;
  column-gap: 8px;
  &:not(.disabled):hover {
    cursor: pointer;
  }
  &.disabled {
    cursor: not-allowed;
  }
}

.switch {
  @include switch;
  @include switch-body;
  @include switch-bullet;
  @include size;
  @include color-set;
}
