@import '../../layout/display.scss';
@import '../../styles/color/color.module.scss';

@mixin color-set {
  border-color: $light-primary300;
  background-color: $light-background;
  &.checked {
    border-color: $light-blue300;
  }
  &.disabled {
    border-color: $light-gray100;
    background-color: $light-gray000;
  }

  .r-mark {
    background-color: $light-blue300;
    &.disabled {
      background-color: $light-gray100;
    }
  }

  &:hover:not(.disabled) {
    border-color: $light-blue500;
    .r-mark {
      background-color: $light-blue500;
    }
  }
  &:hover:not(.disabled):not(.checked) {
    border-color: $light-blue400;
  }
}

@mixin radio {
  cursor: pointer;
  border: 0.16rem solid;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: border-color 0.1s ease;
  &.disabled {
    cursor: not-allowed;
  }
}

.radio {
  @include radio;
  @include color-set;
  @include flex;
  @include center-vertical;
  @include center-horizontal;
}

@mixin r-mark {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  place-content: center;
  transform: scale(0);
  transition: transform 0.1s ease, background-color 0.1s ease;
  &.checked {
    transform: scale(1);
  }
}

.r-mark {
  @include r-mark;
}
