@import '../Header.module.scss';

$header-background: var(--header-background);
$header-color: var(--header-color);

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  min-height: $header-height;
  max-height: $header-height;
  background: $header-background;
  color: $header-color;
}
