@import 'src/styles/color/color.module.scss';

$cdkit-color-data-table-bg: var(--cdkit-color-data-table-bg, $light-background);

$cdkit-color-data-table-border: var(
  --cdkit-color-data-table-border,
  $light-primary600
);

$cdkit-color-data-table-caption-text: var(
  --cdkit-color-data-table-caption-text,
  $light-text
);

$cdkit-color-data-table-header-bg: var(
  --cdkit-color-data-table-header-bg,
  $light-primary200
);
$cdkit-color-data-table-header-text: var(
  --cdkit-color-data-table-header-text,
  $light-text
);

$cdkit-color-data-table-footer-bg: var(
  --cdkit-color-data-table-footer-bg,
  $light-primary000
);
$cdkit-color-data-table-footer-text: var(
  --cdkit-color-data-table-footer-text,
  $light-text
);

$cdkit-color-data-table-divide-line: var(
  --cdkit-color-data-table-divide-line,
  $light-primary500
);

$cdkit-color-data-table-row-bg: var(
  --cdkit-color-data-table-row-bg,
  $light-background
);
$cdkit-color-data-table-row-bg-hover: var(
  --cdkit-color-data-table-row-bg-hover,
  $light-primary000
);
$cdkit-color-data-table-row-bg-disabled: var(
  --cdkit-color-data-table-row-bg-disabled,
  $light-gray000
);

$cdkit-color-data-table-row-text: var(
  --cdkit-color-data-table-row-text,
  $light-text
);
$cdkit-color-data-table-row-text-hover: var(
  --cdkit-color-data-table-row-text-hover,
  $light-text
);
$cdkit-color-data-table-row-text-disabled: var(
  --cdkit-color-data-table-row-text-disabled,
  $light-gray200
);

$cdkit-color-data-table-pagination-index-bg: var(
  --cdkit-color-data-table-pagination-index-bg,
  $light-background
);
$cdkit-color-data-table-pagination-index-bg-selected: var(
  --cdkit-color-data-table-pagination-index-bg-selected,
  $light-blue500
);
$cdkit-color-data-table-pagination-index-bg-disabled: var(
  --cdkit-color-data-table-pagination-index-bg-disabled,
  $light-background
);
$cdkit-color-data-table-pagination-index-bg-hover: var(
  --cdkit-color-data-table-pagination-index-bg-hover,
  $light-blue100
);

$cdkit-color-data-table-pagination-index-text: var(
  --cdkit-color-data-table-pagination-index-text,
  $light-text
);
$cdkit-color-data-table-pagination-index-text-selected: var(
  --cdkit-color-data-table-pagination-index-text-selected,
  $light-primary000
);
$cdkit-color-data-table-pagination-index-text-disabled: var(
  --cdkit-color-data-table-pagination-index-text-disabled,
  $light-gray100
);
$cdkit-color-data-table-pagination-index-text-hover: var(
  --cdkit-color-data-table-pagination-index-text-hover,
  $light-text
);

$cdkit-color-data-table-pagination-arrow: var(
  --cdkit-color-data-table-pagination-arrow,
  $light-gray200
);
$cdkit-color-data-table-pagination-arrow-disabled: var(
  --cdkit-color-data-table-pagination-arrow-disabled,
  $light-gray000
);
