@import './variable/color.module.scss';
@import './variable/size.module.scss';
@import 'src/styles/scrollbar.scss';

@mixin color-set {
  background: $ss-c-side-nav-bg;
  box-shadow: $ss-c-side-nav-box-shadow;
}

@mixin side-nav {
  width: $ss-size-side-nav-width;
  height: inherit;
  overflow: auto;
  padding: 16px 0 16px 16px;
}

.side-nav {
  @include side-nav;
  @include color-set;
  @include scrollbar(16px, 16px);
}
