@import '../variable/variable.module.scss';

.nav-group {
  overflow: hidden;
  padding: 0;
  max-height: 0;
  &.show {
    max-height: 100vh;
    transition: max-height 0.25s ease-in-out;
  }
  &.collapse {
    transition: max-height 0.25s cubic-bezier(0, 1, 0, 1), padding 0.5s;
  }
}
