@import '../../layout/display.scss';
@import './variable/color.module.scss';

@mixin color-set-dt-container {
  border: 0.14rem solid $light-primary600;
  background-color: $light-background;
}

@mixin color-set-data-table {
  .caption {
    color: $light-text;
  }
  .thead > .tr {
    .th,
    .td {
      color: $light-text;
      background-color: $light-primary200;
    }
  }
  .tbody {
    .tr {
      border-top: 0.08rem solid $light-primary500;
      background-color: $light-background;
      color: $light-text;
      &.disabled {
        color: $light-gray200;
        background-color: $light-gray000;
      }
      &:hover:not(.disabled) {
        color: $light-text;
        background-color: $light-primary000;
      }
    }
  }
  .tfoot > .tr {
    border-top: 0.08rem solid $light-primary500;
    .td,
    .th {
      color: $light-text;
      background-color: $light-primary000;
    }
  }
}

@mixin color-set-pagination {
  & > .index-list > .index {
    color: $cdkit-color-dt-pagination-index-text;
    background-color: $cdkit-color-dt-pagination-index-bg;
    &.selected {
      color: $cdkit-color-dt-pagination-index-text-selected;
      background-color: $cdkit-color-dt-pagination-index-bg-selected;
    }
    &.over {
      color: $cdkit-color-dt-pagination-index-text-disabled;
      background-color: $cdkit-color-dt-pagination-index-bg-disabled;
      cursor: not-allowed;
    }
    &:hover:not(.selected):not(.over) {
      color: $cdkit-color-dt-pagination-index-text-hover;
      background-color: $cdkit-color-dt-pagination-index-bg-hover;
    }
  }

  .prev,
  .next {
    fill: $cdkit-color-dt-pagination-arrow;
  }
  .prev.first-page,
  .next.last-page {
    fill: $cdkit-color-dt-pagination-arrow-disabled;
  }
}

@mixin dt-container {
  border-radius: 0.5rem;
  white-space: nowrap;
  padding: 1rem 1.5rem;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
}

@mixin data-table {
  border-collapse: collapse;
  width: 100%;
  .caption {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: start;
  }
  .thead,
  .tfoot {
    .tr {
      .th,
      .td {
        padding: 1rem;
        text-align: start;
      }
    }
  }
  .thead {
    .tr {
      .th,
      .td {
        &:first-child {
          border-top-left-radius: 0.5rem;
        }
        &:last-child {
          border-top-right-radius: 0.5rem;
        }
      }
    }
  }
  .tbody {
    .tr {
      &.disabled {
        cursor: not-allowed;
      }
      &:hover {
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
      }
      .td,
      .th {
        padding: 1rem;
      }
    }
  }
  .tfoot {
    .tr {
      .td,
      .th {
        &:first-child {
          border-bottom-left-radius: 0.25rem;
        }
        &:last-child {
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
  }
}

@mixin pagination {
  width: 100%;
  padding-top: 1rem;
  column-gap: 0.5rem;
  user-select: none;
  @include flex;
  @include center-vertical;
  @include center-horizontal;
  .index-list {
    @include flex;
    @include flex-row;
    list-style: none;
    padding: 0;
    .index {
      width: 2rem;
      aspect-ratio: 1;
      place-content: center;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
      @include flex;
      @include center-vertical;
      @include center-horizontal;
    }
  }
  .prev,
  .next {
    column-gap: 0.5rem;
    cursor: pointer;
    @include flex;
    @include flex-row;
    & > div {
      width: 1rem;
      height: 1rem;
    }
  }
  .prev.first-page,
  .next.last-page {
    cursor: default;
  }
  .next > div {
    transform: rotate(180deg);
  }
}

.dt-container {
  @include dt-container;
  @include color-set-dt-container;
}

.data-table {
  @include data-table;
  @include color-set-data-table;
}

.pagination {
  @include pagination;
  @include color-set-pagination;
}
