@import 'src/styles/color.module.scss';

@mixin badge-light {
  --ss-c-badge-color: #{$light-primary100};
  --ss-c-badge-bg: #{$light-primary700};
}

@mixin badge-dark {
  --ss-c-badge-color: #{$dark-primary900};
  --ss-c-badge-bg: #{$dark-primary100};
}
