@import '@styles/color.module.scss';

@mixin button-light {
  --buttonBackground: #{$light-primary000};
  --buttonBackgroundHover: #{$light-blue000};
  --buttonBackgroundDisabled: #{$light-primary200};
  --buttonBackgroundActive: #{$light-primary000};

  --buttonText: #{$light-primary900};
  --buttonTextHover: #{$light-primary900};
  --buttonTextDisabled: #{$light-primary500};
  --buttonTextActive: #{$light-primary700};

  --buttonBoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  --buttonOutline: #{$light-blue200};

  --buttonBackgroundRipple: rgba(255, 255, 255, 0.6);
}

@mixin button-dark {
  --buttonBackground: #{$dark-primary100};
  --buttonBackgroundHover: #{$dark-primary200};
  --buttonBackgroundDisabled: #{$dark-primary100};
  --buttonBackgroundActive: rgba(53, 53, 53, 0.6);

  --buttonText: #{$dark-primary900};
  --buttonTextHover: #{$dark-primary900};
  --buttonTextDisabled: #{$dark-primary300};
  --buttonTextActive: #{$dark-primary700};

  --buttonBoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  --buttonOutline: #{$dark-primary100};

  --buttonBackgroundRipple: rgba(50, 50, 70, 0.6);
}
