@import 'src/styles/color/color.module.scss';

@mixin checkbox-light {
  --upcast-color-checkbox-border: #{$light-primary300};
  --upcast-color-checkbox-border-checked: #{$light-blue400};
  --upcast-color-checkbox-border-checked-disabled: #{$light-primary400};
  --upcast-color-checkbox-border-checked-hover: #{$light-blue500};
  --upcast-color-checkbox-border-disabled: #{$light-primary300};
  --upcast-color-checkbox-border-hover: #{$light-blue500};

  --upcast-color-checkbox-bg-checked: #{$light-blue400};
  --upcast-color-checkbox-bg-checked-disabled: #{$light-primary400};
  --upcast-color-checkbox-bg-checked-hover: #{$light-blue500};
  --upcast-color-checkbox-bg-disabled: #{$light-primary200};

  --upcast-color-checkbox-text: #{$light-primary900};
  --upcast-color-checkbox-text-hover: #{$light-blue500};
  --upcast-color-checkbox-text-disabled: #{$light-primary300};

  --upcast-color-checkbox-mark-checked: #{$light-primary000};
  --upcast-color-checkbox-mark-checked-disabled: #{$light-primary200};
  --upcast-color-checkbox-mark-checked-hover: #{$light-primary000};
}

@mixin checkbox-dark {
  --upcast-color-checkbox-border: #{$dark-primary300};
  --upcast-color-checkbox-border-checked: #{$dark-blue200};
  --upcast-color-checkbox-border-checked-disabled: #{$dark-primary400};
  --upcast-color-checkbox-border-checked-hover: #{$dark-blue100};
  --upcast-color-checkbox-border-disabled: #{$dark-primary600};
  --upcast-color-checkbox-border-hover: #{$dark-blue100};

  --upcast-color-checkbox-bg-checked: #{$dark-blue200};
  --upcast-color-checkbox-bg-checked-disabled: #{$dark-primary400};
  --upcast-color-checkbox-bg-checked-hover: #{$dark-blue100};
  --upcast-color-checkbox-bg-disabled: #{$dark-primary200};

  --upcast-color-checkbox-text: #{$dark-primary900};
  --upcast-color-checkbox-text-hover: #{$dark-blue200};
  --upcast-color-checkbox-text-disabled: #{$dark-primary200};

  --upcast-color-checkbox-mark-checked: #{$dark-primary800};
  --upcast-color-checkbox-mark-checked-disabled: #{$dark-primary600};
  --upcast-color-checkbox-mark-checked-hover: #{$dark-primary800};
}
