@import 'src/styles/color.module.scss';

@mixin checkbox-light {
  --checkboxBorder: #{$light-primary300};
  --checkboxBorderChecked: #{$light-blue400};
  --checkboxBorderCheckedDisabled: #{$light-primary400};
  --checkboxBorderCheckedHover: #{$light-blue500};
  --checkboxBorderDisabled: #{$light-primary300};
  --checkboxBorderHover: #{$light-blue500};

  --checkboxBackgroundChecked: #{$light-blue400};
  --checkboxBackgroundCheckedDisabled: #{$light-primary400};
  --checkboxBackgroundCheckedHover: #{$light-blue500};
  --checkboxBackgroundDisabled: #{$light-primary200};

  --checkboxText: #{$light-primary900};
  --checkboxTextHover: #{$light-blue500};
  --checkboxTextDisabled: #{$light-primary300};

  --checkboxMarkChecked: #{$light-primary000};
  --checkboxMarkCheckedDisabled: #{$light-primary200};
  --checkboxMarkCheckedHover: #{$light-primary000};
}

@mixin checkbox-dark {
  --checkboxBorder: #{$dark-primary300};
  --checkboxBorderChecked: #{$dark-blue200};
  --checkboxBorderCheckedDisabled: #{$dark-primary400};
  --checkboxBorderCheckedHover: #{$dark-blue100};
  --checkboxBorderDisabled: #{$dark-primary600};
  --checkboxBorderHover: #{$dark-blue100};

  --checkboxBackgroundChecked: #{$dark-blue200};
  --checkboxBackgroundCheckedDisabled: #{$dark-primary400};
  --checkboxBackgroundCheckedHover: #{$dark-blue100};
  --checkboxBackgroundDisabled: #{$dark-primary200};

  --checkboxText: #{$dark-primary900};
  --checkboxTextHover: #{$dark-blue200};
  --checkboxTextDisabled: #{$dark-primary200};

  --checkboxMarkChecked: #{$dark-primary800};
  --checkboxMarkCheckedDisabled: #{$dark-primary600};
  --checkboxMarkCheckedHover: #{$dark-primary800};
}
