@import 'src/styles/color/color.module.scss';

@mixin footer-light {
  --upcast-color-footer-bg: linear-gradient(
    165deg,
    #{$light-primary200},
    #{$light-background}
  );

  --upcast-color-footer-text: #{$light-primary900};
}

@mixin footer-dark {
  --upcast-color-footer-bg: linear-gradient(
    165deg,
    #{$dark-background},
    #{$dark-primary100}
  );

  --upcast-color-footer-text: #{$dark-primary900};
}
