@import 'src/styles/color/color.module.scss';

@mixin header-light {
  --upcast-color-header-bg: linear-gradient(
    165deg,
    #{$light-primary100},
    #{$light-primary700}
  );

  --upcast-color-header-text: #{$light-primary900};
}

@mixin header-dark {
  --upcast-color-header-bg: linear-gradient(
    165deg,
    #{$dark-primary100},
    #{$dark-primary000}
  );

  --upcast-color-header-text: #{$dark-primary900};
}
