@import '@styles/color.module.scss';

@mixin header-light {
  --header-background: #{$light-primary300};

  --header-text: #{$light-primary900};
}

@mixin header-dark {
  --header-background: #{$dark-primary300};

  --header-text: #{$dark-primary900};
}
