@import '@styles/color.module.scss';

@mixin input-light {
  --inputBorder: #{$light-primary400};
  --inputBorderFocus: #{$light-blue500};
  --inputBorderError: #{$light-red900};
  --inputBorderDisabled: #{$light-primary300};

  --inputBackground: #{$light-primary000};
  --inputBackgroundDisabled: #{$light-primary100};

  --inputText: #{$light-primary900};
  --inputTextDisabled: #{$light-primary400};

  --inputPlaceholder: #{$light-primary400};
  --inputPlaceholderDisabled: #{$light-primary300};

  --inputBoxShadow: 0px 3px 6px rgba(62, 62, 62, 0.1);
}

@mixin input-dark {
  --inputBorder: #{$dark-primary300};
  --inputBorderFocus: #{$dark-blue500};
  --inputBorderError: #{$dark-red000};
  --inputBorderDisabled: #{$dark-primary100};

  --inputBackground: #{$dark-primary100};
  --inputBackgroundDisabled: #{$dark-primary200};

  --inputText: #{$dark-primary800};
  --inputTextDisabled: #{$dark-primary000};

  --inputPlaceholder: #{$dark-primary300};
  --inputPlaceholderDisabled: #{$dark-primary100};

  --inputBoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}
