@import 'src/styles/color/color.module.scss';

@mixin input-light {
  --upcast-color-input-border: #{$light-primary400};
  --upcast-color-input-border-focus: #{$light-blue500};
  --upcast-color-input-border-error: #{$light-red900};
  --upcast-color-input-border-disabled: #{$light-primary300};

  --upcast-color-input-bg: #{$light-primary000};
  --upcast-color-input-bg-disabled: #{$light-primary100};

  --upcast-color-input-text: #{$light-primary900};
  --upcast-color-input-text-disabled: #{$light-primary400};

  --upcast-color-input-placeholder: #{$light-primary400};
  --upcast-color-input-placeholder-disabled: #{$light-primary300};

  --upcast-color-input-box-shadow: 0px 3px 6px rgba(62, 62, 62, 0.1);
}

@mixin input-dark {
  --upcast-color-input-border: #{$dark-primary300};
  --upcast-color-input-border-focus: #{$dark-blue500};
  --upcast-color-input-border-error: #{$dark-red000};
  --upcast-color-input-border-disabled: #{$dark-primary100};

  --upcast-color-input-bg: #{$dark-primary100};
  --upcast-color-input-bg-disabled: #{$dark-primary200};

  --upcast-color-input-text: #{$dark-primary800};
  --upcast-color-input-text-disabled: #{$dark-primary000};

  --upcast-color-input-placeholder: #{$dark-primary300};
  --upcast-color-input-placeholder-disabled: #{$dark-primary100};

  --upcast-color-input-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}
