@import '@styles/color.module.scss';

@mixin popup-light {
  --popupBoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  --popupBackground: #{$light-primary000};
  --popupText: #{$light-primary900};
}

@mixin popup-dark {
  --popupBoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  --popupBackground: #{$dark-primary100};
  --popupText: #{$dark-primary900};
}
