@import 'src/styles/color/color.module.scss';

@mixin progressbar-light {
  --upcast-color-progress-body: #{$light-primary200};
  --upcast-color-progress-bar: #{$light-blue600};
  --upcast-color-progress-pending: rgba(255, 255, 255, 0.7);
}

@mixin progressbar-dark {
  --upcast-color-progress-body: #{$dark-primary200};
  --upcast-color-progress-bar: #{$dark-blue200};
  --upcast-color-progress-pending: rgba(255, 255, 255, 0.7);
}
