@import 'src/styles/color.module.scss';

@mixin progressbar-light {
  --progressBody: #{$light-primary200};
  --progressBar: #{$light-blue600};
  --progressPending: rgba(255, 255, 255, 0.7);
}

@mixin progressbar-dark {
  --progressBody: #{$dark-primary200};
  --progressBar: #{$dark-blue200};
  --progressPending: rgba(255, 255, 255, 0.7);
}
