@import '@styles/color.module.scss';

@mixin radio-light {
  --radioBorder: #{$light-primary300};
  --radioBorderChecked: #{$light-blue400};
  --radioBorderChecked-disabled: #{$light-primary400};
  --radioBorderCheckedHover: #{$light-blue500};
  --radioBorderDisabled: #{$light-primary300};
  --radioBorder-hover: #{$light-blue500};

  --radioBackgroundCheckedDisabled: #{$light-primary300};
  --radioBackgroundDisabled: #{$light-primary200};

  --radioText: #{$light-primary900};
  --radioTextHover: #{$light-blue600};
  --radioTextDisabled: #{$light-primary300};

  --radioPupil: #{$light-blue400};
  --radioPupilDisabled: #{$light-primary500};
  --radioPupilHover: #{$light-blue500};
}

@mixin radio-dark {
  --radioBorder: #{$dark-primary300};
  --radioBorderChecked: #{$dark-blue300};
  --radioBorderChecked-disabled: #{$dark-primary400};
  --radioBorderCheckedHover: #{$dark-blue100};
  --radioBorderDisabled: #{$dark-primary600};
  --radioBorder-hover: #{$dark-blue100};

  --radioBackgroundCheckedDisabled: #{$dark-primary400};
  --radioBackgroundDisabled: #{$dark-primary300};

  --radioText: #{$dark-primary900};
  --radioTextHover: #{$dark-blue200};
  --radioTextDisabled: #{$dark-primary600};

  --radioPupil: #{$dark-blue300};
  --radioPupilDisabled: #{$dark-primary600};
  --radioPupilHover: #{$dark-blue100};
}
