@import 'src/styles/color.module.scss';

@mixin row-light {
  --rowBoxShadow: 0px 3px 6px rgba(64, 64, 64, 0.2);
  --rowBackground: #{$light-primary000};
}

@mixin row-dark {
  --rowBoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  --rowBackground: #{$dark-primary000};
}
