@import 'src/styles/color.module.scss';

@mixin spinner-light {
  --spinnerColor: #{$light-primary400};
  --spinnerColor2: #{$light-primary500};
}

@mixin spinner-dark {
  --spinnerColor: #{$dark-primary300};
  --spinnerColor2: #{$dark-primary600};
}
