@import 'src/styles/color/color.module.scss';

@mixin spinner-light {
  --upcast-color-spinner-color: #{$light-primary400};
  --upcast-color-spinner-color2: #{$light-primary500};
}

@mixin spinner-dark {
  --upcast-color-spinner-color: #{$dark-primary300};
  --upcast-color-spinner-color2: #{$dark-primary600};
}
