@import 'src/styles/color.module.scss';

@mixin switch-light {
  --switchBackground: #{$light-primary300};
  --switchBackgroundChecked: #{$light-blue400};
  --switchBackgroundCheckedDisabled: #{$light-primary300};
  --switchBackgroundCheckedHover: #{$light-blue500};
  --switchBackgroundDisabled: #{$light-primary100};
  --switchBackgroundHover: #{$light-blue200};

  --switchBullet: #{$light-primary000};
  --switchBulletChecked: #{$light-primary000};
  --switchBulletCheckedDisabled: #{$light-primary200};
  --switchBulletCheckedHover: #{$light-primary000};
  --switchBulletDisabled: #{$light-primary200};
  --switchBulletHover: #{$light-primary000};
  --switchBulletBoxShadow: 0px 3px 6px rgba(63, 63, 63, 0.3);

  --switchText: #{$light-primary900};
  --switchTextHover: #{$light-blue500};
  --switchTextDisabled: #{$light-primary300};
}

@mixin switch-dark {
  --switchBackground: #{$dark-primary300};
  --switchBackgroundChecked: #{$dark-blue200};
  --switchBackgroundCheckedDisabled: #{$dark-primary300};
  --switchBackgroundCheckedHover: #{$dark-blue100};
  --switchBackgroundDisabled: #{$dark-primary400};
  --switchBackgroundHover: #{$dark-blue400};

  --switchBullet: #{$dark-primary800};
  --switchBulletChecked: #{$dark-primary800};
  --switchBulletCheckedDisabled: #{$dark-primary200};
  --switchBulletCheckedHover: #{$dark-primary800};
  --switchBulletDisabled: #{$dark-primary300};
  --switchBulletHover: #{$dark-primary800};
  --switchBulletBoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  --switchText: #{$dark-primary900};
  --switchTextHover: #{$dark-blue300};
  --switchTextDisabled: #{$dark-primary200};
}
