@import '@styles/color.module.scss';

@mixin tab-light {
  --tab-background: #{$light-primary000};
  --tab-background-hover: #{$light-blue100};

  --tab-select-line: #{$light-blue200};

  --tab-text: #{$light-primary900};
  --tab-text-hover: #{$light-primary700};
}

@mixin tab-dark {
  --tab-background: #{$dark-primary200};
  --tab-background-hover: #{$dark-primary300};

  --tab-select-line: #{$dark-blue300};

  --tab-text: #{$dark-primary600};
  --tab-text-hover: #{$dark-primary700};
}
