@import 'src/styles/color.module.scss';

@mixin table-light {
  --ss-c-table-bg: #{$light-primary000};

  --ss-c-table-border: #{$light-primary300};

  --ss-c-table-header-bg: #{$light-primary100};

  --ss-c-table-footer-bg: #{$light-primary000};

  --ss-c-table-body-bg: #{$light-primary400};
  --ss-c-table-body-bg-hover: #{$light-blue100};

  --ss-c-table-text: #{$light-primary900};
}

@mixin table-dark {
  --ss-c-table-bg: #{$dark-primary100};

  --ss-c-table-border: #{$dark-primary000};

  --ss-c-table-header-bg: #{$dark-primary200};

  --ss-c-table-footer-bg: #{$dark-primary100};

  --ss-c-table-body-bg: #{$dark-primary400};
  --ss-c-table-body-bg-hover: #{$dark-primary000};

  --ss-c-table-text: #{$dark-primary900};
}
