@import '../../styles/transition.scss';
@import '../../styles/color/color.module.scss';
@import '../../layout/display.scss';

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
  }
  100% {
    transform: scale(40, 40);
    opacity: 0;
  }
}

@mixin button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin shape {
  &.circle {
    border-radius: 50%;
    aspect-ratio: 1;
    width: fit-content;
    height: fit-content;
  }
  &.square {
    aspect-ratio: 1;
  }
}

@mixin color-set {
  background: $light-primary000;
  color: $light-text;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  // active
  &:active:not(:disabled):not(.loading) {
    background: $light-primary300;
    color: $black;
  }
  // hover
  &:hover:not(:disabled):not(.loading) {
    background: $light-primary100;
    color: $light-text;
  }
  &:disabled {
    background: $light-gray000;
    color: $light-gray200;
    &:active:not(.outlined):not(.clear),
    &:hover:not(.outlined):not(.clear) {
      background: $light-gray000;
      color: $light-gray200;
    }
  }

  // outlined
  &.outlined {
    background: none;
    box-shadow: none;
    outline: 0.08rem solid $light-primary300;
    &:hover:not(:disabled):not(.loading) {
      background: $light-primary100;
      color: $light-text;
    }
    &:disabled,
    &.loading {
      outline: 0.08rem solid $light-gray300;
    }
  }

  // clear
  &.clear {
    background: none;
    box-shadow: none;
    &:hover:not(:disabled):not(.loading) {
      background: $light-primary100;
      color: $light-text;
    }
  }
}

@mixin ripple-animation {
  &.ripple {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.25rem;
      height: 0.25rem;
      background: $light-primary200;
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
    }
    &:focus:not(:active)::after {
      animation: ripple 0.5s ease-out;
    }
  }
}

@mixin spinner {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.8rem;
}

.button {
  @include button;
  @include shape;
  @include color-set;
  @include display;
  @include position-center;
  @include ripple-animation;
}
