@import 'src/styles/color.module.scss';

$ss-c-progress-body: var(--ss-c-progress-body, $light-primary200);
$ss-c-progress-bar: var(--ss-c-progress-bar, $light-blue600);
$ss-c-progress-exit: var(--ss-c-progress-exit, $light-primary600);
$ss-c-progress-pending: var(--ss-c-progress-pending, rgba(255, 255, 255, 0.7));
