@import 'src/styles/color.module.scss';

$progressBody: var(--progressBody, $light-primary200);
$progressBar: var(--progressBar, $light-blue600);
$progressPending: var(--progressPending, rgba(255, 255, 255, 0.7));
