$primary000: #ffffff;
$primary100: #d5d5d5;
$primary200: #9c9c9c;
$primary300: #818181;
$primary400: #3d3d3d;
$primary500: #292929;
$primary600: #1d1d1d;
$primary700: #000000;

$blue000: #eeeeff;
$blue100: #d3d3ff;
$blue200: #b0b0ff;
$blue300: #9090ff;
$blue400: #7979ff;
$blue500: #4b4bff;
$blue600: #2d2dff;
$blue700: #0000ff;

$green000: #eeffee;
$green100: #d3ffd3;
$green200: #b0ffb0;
$green300: #90ff90;
$green400: #79ff79;
$green500: #4bff4b;
$green600: #2dff2d;
$green700: #00ff00;

$red000: #ffeeee;
$red100: #ffd3d3;
$red200: #ffb0b0;
$red300: #ff9090;
$red400: #ff7979;
$red500: #ff4b4b;
$red600: #ff2d2d;
$red700: #ff0000;

$white: #ffffff;
$black: #000000;

:export {
  primary000: $primary000;
  primary100: $primary100;
  primary200: $primary200;
  primary300: $primary300;
  primary400: $primary400;
  primary500: $primary500;
  primary600: $primary600;
  primary700: $primary700;
  blue000: $blue000;
  blue100: $blue100;
  blue200: $blue200;
  blue300: $blue300;
  blue400: $blue400;
  blue500: $blue500;
  blue600: $blue600;
  blue700: $blue700;
  green000: $green000;
  green100: $green100;
  green200: $green200;
  green300: $green300;
  green400: $green400;
  green500: $green500;
  green600: $green600;
  green700: $green700;
  red000: $red000;
  red100: $red100;
  red200: $red200;
  red300: $red300;
  red400: $red400;
  red500: $red500;
  red600: $red600;
  red700: $red700;

  white: $white;
  black: $black;
}
