@import './theme/light.module.scss';
@import './theme/dark.module.scss';

$white: #ffffff;
$black: #000000;

:export {
  light_primary000: $light-primary000;
  light_primary100: $light-primary100;
  light_primary200: $light-primary200;
  light_primary300: $light-primary300;
  light_primary400: $light-primary400;
  light_primary500: $light-primary500;
  light_primary600: $light-primary600;
  light_primary700: $light-primary700;
  light_primary800: $light-primary800;
  light_primary900: $light-primary900;
  light_blue000: $light-blue000;
  light_blue100: $light-blue100;
  light_blue200: $light-blue200;
  light_blue300: $light-blue300;
  light_blue400: $light-blue400;
  light_blue500: $light-blue500;
  light_blue600: $light-blue600;
  light_blue700: $light-blue700;
  light_green000: $light-green000;
  light_green100: $light-green100;
  light_green200: $light-green200;
  light_green300: $light-green300;
  light_green400: $light-green400;
  light_green500: $light-green500;
  light_green600: $light-green600;
  light_green700: $light-green700;
  light_red000: $light-red000;
  light_red100: $light-red100;
  light_red200: $light-red200;
  light_red300: $light-red300;
  light_red400: $light-red400;
  light_red500: $light-red500;
  light_red600: $light-red600;
  light_red700: $light-red700;
  light_red800: $light-red800;
  light_red900: $light-red900;
  light_background: $light-background;

  dark_primary000: $dark-primary000;
  dark_primary100: $dark-primary100;
  dark_primary200: $dark-primary200;
  dark_primary300: $dark-primary300;
  dark_primary400: $dark-primary400;
  dark_primary500: $dark-primary500;
  dark_primary600: $dark-primary600;
  dark_primary700: $dark-primary700;
  dark_primary800: $dark-primary800;
  dark_primary900: $dark-primary900;
  dark_blue000: $dark-blue000;
  dark_blue100: $dark-blue100;
  dark_blue200: $dark-blue200;
  dark_blue300: $dark-blue300;
  dark_blue400: $dark-blue400;
  dark_blue500: $dark-blue500;
  dark_blue600: $dark-blue600;
  dark_blue700: $dark-blue700;
  dark_green000: $dark-green000;
  dark_green100: $dark-green100;
  dark_green200: $dark-green200;
  dark_green300: $dark-green300;
  dark_green400: $dark-green400;
  dark_green500: $dark-green500;
  dark_green600: $dark-green600;
  dark_green700: $dark-green700;
  dark_red000: $dark-red000;
  dark_red100: $dark-red100;
  dark_red200: $dark-red200;
  dark_red300: $dark-red300;
  dark_red400: $dark-red400;
  dark_red500: $dark-red500;
  dark_red600: $dark-red600;
  dark_red700: $dark-red700;
  dark_background: $dark-background;

  white: $white;
  black: $black;
}
