@import './variable/color.module.scss';
@import './variable/size.module.scss';

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin type-1 {
  &.type-1 {
    width: $size;
    height: $size;
    border: $borderWidth solid $spinnerColor;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    border-bottom-color: transparent;
    animation: rotation 1s linear infinite;
  }
}
