@import './variable/color.module.scss';

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin type-2 {
  &.type-2 {
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    border: $ss-size-border-width solid $ss-c-spinner-color;
    border-bottom-color: $ss-c-spinner-color2;
    width: $ss-size-spinner;
    height: $ss-size-spinner;
  }
}
