@import './variable/color.module.scss';

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin type-2 {
  &.type-2 {
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    border: $upcast-size-border-width solid $upcast-color-spinner-color1;
    border-bottom-color: $upcast-color-spinner-color2;
    width: $upcast-size-spinner;
    height: $upcast-size-spinner;
  }
}
