@import '../GNB.module.scss';

$gnb-menu: var(--gnb-menu, $primary100);
$gnb-menu-select: var(--gnb-menu-select, $primary600);
$gnb-menu-select-box-shadow: var(
  --gnb-menu-select-box-shadow,
  0px 3px 6px rgba(45, 118, 248, 0.1)
);

.menu {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
  .item {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 40px;
    @include transition(
      background-color 0.2s cubic-bezier(0, 1, 0, 1),
      opacity 0.2s
    );
    .left {
      display: flex;
      align-items: center;
      column-gap: 10px;
      .icon {
        width: 16px;
        height: 16px;
      }
      .contents {
        display: flex;
        align-items: center;
        transform: translateY(2px);
        margin: 8px 0;
        white-space: nowrap;
        color: $gnb-menu;
      }
    }
    .right {
      width: 16px;
      height: 16px;
    }
    .contents,
    .right {
      @include transition(opacity);
      opacity: 1;
    }
    &.select {
      box-shadow: $gnb-menu-select-box-shadow;
      background: $gnb-menu-select;
      border-radius: 8px;
    }
  }
}
