@import '../../styles/color/color.module.scss';
@import '../../layout/Flex/flex.scss';
@import '../../layout/Center/style.module.scss';
@import './variable/size.module.scss';

@mixin color-set {
  background-color: $light-primary300;
  &.checked {
    background-color: $light-blue300;
  }
  &.checked.disabled {
    background-color: $light-gray200;
  }
  &.disabled:not(.checked) {
    background-color: $light-gray000;
  }

  .switch-bullet {
    background-color: $light-primary000;
    box-shadow: 0px 3px 6px rgba(63, 63, 63, 0.3);
  }
  .switch-bullet.checked {
    background-color: $light-primary000;
  }
  .switch-bullet.checked.disabled {
    background-color: $light-gray400;
    box-shadow: none;
  }
  .switch-bullet.disabled {
    background-color: $light-gray200;
    box-shadow: none;
  }

  &:hover:not(.disabled) {
    background-color: $light-blue200;
    &.checked {
      background-color: $light-blue500;
    }
  }
}

@mixin switch {
  position: relative;
  width: fit-content;
  &:not(.disabled):hover {
    cursor: pointer;
  }
  &.disabled {
    cursor: not-allowed;
  }
}

.switch {
  @include switch;
  @include color-set;
  @include flex;
  @include center-vertical;
  border-radius: 1rem;
  transition: background-color 0.1s ease;
  width: $cdkit-size-switch-width;
  height: $cdkit-size-switch-height;
}

@mixin switch-bullet {
  position: absolute;
  border-radius: 50%;
  transition: transform 0.2s ease;
  width: $cdkit-size-switch-bullet;
  height: $cdkit-size-switch-bullet;
  transform: translateX(0.25rem);
  &.checked {
    transform: translateX(
      #{calc($cdkit-size-switch-width - $cdkit-size-switch-bullet - 0.25rem)}
    );
  }
}

.switch-bullet {
  @include switch-bullet;
}
