@import '../../../styles/color/color.module.scss';
@import '../../../layout/display.scss';

@mixin color-set {
  border-color: $light-primary700;
  &:hover:not(.disabled) {
    border-color: $light-blue300;
  }
  &.disabled {
    border-color: $light-gray200;
  }
  &.checked {
    border-color: $light-blue400;
  }
  &.checked:hover:not(.disabled) {
    border-color: $light-blue500;
  }
  &.checked.disabled {
    border-color: $light-gray300;
  }
}

@mixin cb-mark-field {
  border-radius: 0.125rem;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1;
  border-width: 0.125rem;
  border-style: solid;
  transition: border-color 0.1s;
}

.cb-mark-field {
  @include cb-mark-field;
  @include color-set;
  @include flex;
  @include center-vertical;
  @include center-horizontal;
}
