@import 'src/styles/color/color.module.scss';

$upcast-color-switch-bg: var(--upcast-color-switch-bg, $light-primary300);
$upcast-color-switch-bg-checked: var(
  --upcast-color-switch-bg-checked,
  $light-blue300
);
$upcast-color-switch-bg-disabled: var(
  --upcast-color-switch-bg-disabled,
  $light-gray000
);
$upcast-color-switch-bg-checked-disabled: var(
  --upcast-color-switch-bg-checked-disabled,
  $light-gray200
);
$upcast-color-switch-bg-hover: var(
  --upcast-color-switch-bg-hover,
  $light-blue200
);
$upcast-color-switch-bg-checked-hover: var(
  --upcast-color-switch-bg-checked-hover,
  $light-blue500
);

$upcast-color-switch-bullet: var(
  --upcast-color-switch-bullet,
  $light-primary000
);
$upcast-color-switch-bullet-disabled: var(
  --upcast-color-switch-bullet-disabled,
  $light-gray200
);
$upcast-color-switch-bullet-checked: var(
  --upcast-color-switch-bullet-checked,
  $light-primary000
);
$upcast-color-switch-bullet-checked-disabled: var(
  --upcast-color-switch-bullet-checked-disabled,
  $light-gray400
);
$upcast-color-switch-bullet-hover: var(
  --upcast-color-switch-bullet-hover,
  $light-primary000
);
$upcast-color-switch-bullet-checked-hover: var(
  --upcast-color-switch-bullet-checked-hover,
  $light-primary000
);
$upcast-color-switch-bullet-box-shadow: var(
  --upcast-color-switch-bullet-box-shadow,
  0px 3px 6px rgba(63, 63, 63, 0.3)
);

$upcast-color-switch-text: var(--upcast-color-switch-text, $light-text);
$upcast-color-switch-text-hover: var(
  --upcast-color-switch-text-hover,
  $light-text
);
$upcast-color-switch-text-disabled: var(
  --upcast-color-switch-text-disabled,
  $light-gray200
);
