$upcast-size-switch-bullet: var(--upcast-size-switch-bullet, 16px);
$upcast-size-switch-width: var(--upcast-size-switch-width, 44px);
$upcast-size-switch-height: var(--upcast-size-switch-height, 24px);
