@mixin checkbox-size {
  --checkboxSize: 16px;
}

@mixin header-size {
  --headerMinHeight: 72px;
  --headerMaxHeight: 72px;
}

@mixin footer-size {
  --footerMinHeight: 72px;
  --footerMaxHeight: 72px;
}

@mixin size {
  @include header-size;
  @include footer-size;
}
