@import './variable/variable.module.scss';
@import '@styles/scrollbar.scss';

.side-nav {
  display: flex;
  flex-direction: column;
  width: 164px;
  height: inherit;
  overflow: auto;
  background: $sideNav-background;
  padding: 16px 0 16px 16px;
  @include scrollbar(16px, 16px);
  &.right {
    margin-left: auto;
  }
}
