@import './variable/variable.module.scss';

@mixin color-set {
  border-color: $input-border;
  background: $input-background;
  color: $input-text;

  &:focus {
    border: 1px solid $input-border-focus;
    box-shadow: $input-box-shadow;
  }
}

@mixin size {
  &.xs {
    padding: 4px;
    font-size: 12px;
    &.left-icon {
    }
    &.right-icon {
    }
  }
  &.sm {
    padding: 8px;
    font-size: 14px;
    &.left-icon {
    }
    &.right-icon {
    }
  }
  &.md {
    padding: 10px;
    font-size: 16px;
    &.left-icon {
      padding-left: 24px;
    }
    &.right-icon {
      padding-right: 24px;
    }
  }
  &.lg {
    padding: 12px;
    font-size: 20px;
    &.left-icon {
    }
    &.right-icon {
    }
  }
}

@mixin default {
  width: 100%;
  border: 1px solid;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

.container {
  position: relative;
  .input {
    @include default;
    @include color-set;
    @include size;
  }
}
