$upcast-layout-spacing-gap: var(--upcast-layout-spacing-gap, 0px);

.spacing {
  &.vertical {
    height: $upcast-layout-spacing-gap;
    min-height: $upcast-layout-spacing-gap;
  }
  &.horizontal {
    width: $upcast-layout-spacing-gap;
    min-width: $upcast-layout-spacing-gap;
  }
}
