@import '../../../layout/Flex/flex.scss';
@import '../../../layout/Center/style.module.scss';
@import '../variable/color.module.scss';

@mixin color-set {
  border-color: $cdkit-color-select-box-border;
  background: $cdkit-color-select-box-bg;
  color: $cdkit-color-select-box-text;
  &.error {
    border-color: $cdkit-color-select-box-border-error;
    background: $cdkit-color-select-box-bg-error;
    color: $cdkit-color-select-box-text-error;
  }
  &.disabled {
    border-color: $cdkit-color-select-box-border-disabled;
    background: $cdkit-color-select-box-bg-disabled;
    color: $cdkit-color-select-box-text-disabled;
  }
  &:focus:not(.disabled):not(.error),
  &.open:not(.error) {
    border-color: $cdkit-color-select-box-border-focus;
    background: $cdkit-color-select-box-bg-focus;
    color: $cdkit-color-select-box-text-focus;
  }
  &:hover:not(.disabled) {
    border-color: $cdkit-color-select-box-border-hover;
    background: $cdkit-color-select-box-bg-hover;
    color: $cdkit-color-select-box-text-hover;
  }

  .placeholder {
    color: $cdkit-color-select-box-placeholder;
  }
  &.disabled > .placeholder {
    color: $cdkit-color-select-box-placeholder-disabled;
  }
}

@mixin select-box {
  position: relative;
  padding: 0.625rem 2rem 0.625rem 0.625rem;
  border-radius: 0.25rem;
  border: 0.08rem solid;
  box-sizing: border-box;
  width: 100%;
  cursor: default;
  outline: none;
  @include flex;
  @include center-vertical;
  &.disabled {
    cursor: not-allowed;
  }
}

.select-box {
  @include select-box;
  @include color-set;
}
