@import './variable/color.module.scss';
@import '../../layout/Flex/flex.scss';

@import './Field/style.module.scss';
@import './InputField/style.module.scss';
@import './Options/style.module.scss';
@import './ExpandIcon/style.module.scss';
@import './Option/style.module.scss';

.select {
  list-style: none;
  width: 100%;
  @include flex;
  @include flex-column;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
}
