@import '../../layout/Center/style.module.scss';
@import '../../styles/color/color.module.scss';

@mixin color-set {
  border-color: $light-primary600;
  background-color: $light-background;
  color: $light-text;
  &::placeholder {
    color: $light-gray100;
  }

  &:disabled {
    border-color: $light-gray100;
    background-color: $light-gray000;
    color: $light-gray200;
    &::placeholder {
      color: $light-gray100;
    }
  }

  &.error {
    border-color: $light-danger;
  }

  &:hover:not(:disabled):not(.error) {
    border-color: $light-blue300;
  }

  &:not(:disabled):not(.error):focus {
    border-color: $light-blue500;
  }
}

@mixin input {
  border: 0.08rem solid;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-size: 0.96rem;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.input {
  @include input;
  @include color-set;
}
