@import '../../../styles/color/color.module.scss';

$cdkit-color-dt-pagination-index-bg: var(
  --cdkit-color-dt-pagination-index-bg,
  $light-background
);
$cdkit-color-dt-pagination-index-bg-selected: var(
  --cdkit-color-dt-pagination-index-bg-selected,
  $light-blue500
);
$cdkit-color-dt-pagination-index-bg-disabled: var(
  --cdkit-color-dt-pagination-index-bg-disabled,
  $light-background
);
$cdkit-color-dt-pagination-index-bg-hover: var(
  --cdkit-color-dt-pagination-index-bg-hover,
  $light-blue100
);

$cdkit-color-dt-pagination-index-text: var(
  --cdkit-color-dt-pagination-index-text,
  $light-text
);
$cdkit-color-dt-pagination-index-text-selected: var(
  --cdkit-color-dt-pagination-index-text-selected,
  $light-primary000
);
$cdkit-color-dt-pagination-index-text-disabled: var(
  --cdkit-color-dt-pagination-index-text-disabled,
  $light-gray100
);
$cdkit-color-dt-pagination-index-text-hover: var(
  --cdkit-color-dt-pagination-index-text-hover,
  $light-text
);

$cdkit-color-dt-pagination-arrow: var(
  --cdkit-color-dt-pagination-arrow,
  $light-gray200
);
$cdkit-color-dt-pagination-arrow-disabled: var(
  --cdkit-color-dt-pagination-arrow-disabled,
  $light-gray000
);
