@import '@styles/transition.scss';
@import './variable/variable.module.scss';

@mixin default {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  column-gap: 8px;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin color-set {
  background: $button-background;
  color: $button-text;
  box-shadow: $button-box-shadow;
  &:hover {
    background: $button-background-hover;
    color: $button-text-hover;
  }
  &:disabled {
    background: $button-background-disabled;
    color: $button-text-disabled;
    &:active,
    &:hover {
      background: $button-background-disabled;
      color: $button-text-disabled;
    }
  }
  &:active {
    background: $button-background-active;
    color: $button-text-active;
  }
  &.outlined {
    background: none;
    box-shadow: none;
    outline: 1px solid $button-outline;
    &:hover {
      background: $button-background-hover;
      color: $button-text-hover;
    }
  }
  &.clear {
    background: none;
    box-shadow: none;
    &:hover {
      background: $button-background-hover;
      color: $button-text-hover;
    }
  }
}

@mixin ripple-animation {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: $button-background-ripple;
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  &:focus:not(:active)::after {
    animation: ripple 0.5s ease-out;
  }
}

@mixin icon {
  display: flex;
  width: 24px;
  aspect-ratio: 1;
  place-content: center;
}

@mixin spinner {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 14px;
}

.button {
  @include default;
  @include ripple-animation;
  @include color-set;
  .icon {
    @include icon;
  }
  .btn-spinner {
    @include spinner;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
  }
  100% {
    transform: scale(40, 40);
    opacity: 0;
  }
}
