@import '@styles/color.module.scss';

$button-background: var(--button-background, $light-primary000);
$button-background-hover: var(--button-background-hover, $light-blue000);
$button-background-disabled: var(
  --button-background-disabled,
  $light-primary200
);
$button-background-active: var(--button-background-active, $light-primary100);
$button-background-ripple: var(
  --button-background-ripple,
  rgba(255, 255, 255, 0.6)
);

$button-text: var(--button-text, $light-primary900);
$button-text-hover: var(--button-text-hover, $light-primary900);
$button-text-disabled: var(--button-text-disabled, $light-primary500);
$button-text-active: var(--button-text-active, $light-primary700);

$button-box-shadow: var(--button-box-shadow, 0px 3px 6px rgba(0, 0, 0, 0.1));
$button-outline: var(--button-outline, $light-blue200);
