@import '@styles/color.module.scss';

$button-background: var(--button-background, $light-primary000);
$button-background-hover: var(--button-background-hover, $light-blue000);
$button-background-disabled: var(
  --button-background-disabled,
  $light-primary200
);
$button-background-active: var(
  --button-background-active,
  rgba(255, 255, 255, 0.6)
);

$button-text: var(--button-text, $light-primary700);
$button-text-hover: var(--button-text-hover, $light-primary700);
$button-text-disabled: var(--button-text-disabled, $light-primary300);
$button-text-active: var(--button-text-active, $light-primary700);
