@import 'src/styles/color/color.module.scss';

$cdk-color-button-bg: var(--cdk-color-button-bg, $light-primary000);
$cdk-color-button-bg-hover: var(--cdk-color-button-bg-hover, $light-primary100);
$cdk-color-button-bg-disabled: var(
  --cdk-color-button-bg-disabled,
  $light-gray000
);
$cdk-color-button-bg-active: var(
  --cdk-color-button-bg-active,
  $light-primary300
);

$cdk-color-button-bg-ripple: var(
  --cdk-color-button-bg-ripple,
  $light-primary200
);

$cdk-color-button-text: var(--cdk-color-button-text, $light-text);
$cdk-color-button-text-hover: var(--cdk-color-button-text-hover, $light-text);
$cdk-color-button-text-disabled: var(
  --cdk-color-button-text-disabled,
  $light-gray200
);
$cdk-color-button-text-active: var(--cdk-color-button-text-active, $black);

$cdk-color-button-box-shadow: var(
  --cdk-color-button-box-shadow,
  0px 2px 4px rgba(0, 0, 0, 0.1)
);
$cdk-color-button-outline: var(--cdk-color-button-outline, $light-primary300);
$cdk-color-button-outline-disabled: var(
  --cdk-color-button-outline-disabled,
  $light-gray300
);
