$dark-primary000: #252525;
$dark-primary100: #414141;
$dark-primary200: #5a5a5a;
$dark-primary300: #747474;
$dark-primary400: #8f8f8f;
$dark-primary500: #a6a6a6;
$dark-primary600: #cecece;
$dark-primary700: #e7e7e7;

$dark-blue000: #0000dd;
$dark-blue100: #2d2ddd;
$dark-blue200: #4b4bdd;
$dark-blue300: #7979dd;
$dark-blue400: #9090dd;
$dark-blue500: #b0b0dd;
$dark-blue600: #d3d3dd;
$dark-blue700: #eeeedd;

$dark-green000: #00dd00;
$dark-green100: #2ddd2d;
$dark-green200: #4bdd4b;
$dark-green300: #79dd79;
$dark-green400: #90dd90;
$dark-green500: #b0ddb0;
$dark-green600: #d3ddd3;
$dark-green700: #eeddee;

$dark-red000: #dd0000;
$dark-red100: #dd2d2d;
$dark-red200: #dd4b4b;
$dark-red300: #dd7979;
$dark-red400: #dd9090;
$dark-red500: #ddb0b0;
$dark-red600: #ddd3d3;
$dark-red700: #ddeeee;

$dark-purple000: #9c1bff;
$dark-purple100: #a837ff;
$dark-purple200: #af46ff;
$dark-purple300: #b75dfc;
$dark-purple400: #c172fc;
$dark-purple500: #cc8bfe;
$dark-purple600: #d29ff9;
$dark-purple700: #e3bdff;

$dark-gray000: #636363;
$dark-gray100: #7b7b7b;
$dark-gray200: #898989;
$dark-gray300: #909090;
$dark-gray400: #a0a0a0;

$dark-success: $dark-blue100;
$dark-info: #195904;
$dark-warning: #c8ce11;
$dark-danger: $dark-red100;
$dark-background: #1d1d1d;
$dark-text: $dark-primary700;
