$light-primary000: #e7f8ff;
$light-primary100: #def4fd;
$light-primary200: #cff0fd;
$light-primary300: #c0e9f9;
$light-primary400: #b6e7fa;
$light-primary500: #aae3fa;
$light-primary600: #a3dff9;
$light-primary700: #99daf5;

$light-secondary000: #dffbd4;
$light-secondary100: #dcf9d1;
$light-secondary200: #cefabd;
$light-secondary300: #c9f9b6;
$light-secondary400: #c5f8b1;
$light-secondary500: #c5f8b1;
$light-secondary600: #c1f7ac;
$light-secondary700: #bcf6a5;

$light-red000: #fcd9d9;
$light-red100: #fbcfcf;
$light-red200: #fbb6b6;
$light-red300: #fb9797;
$light-red400: #fd8787;
$light-red500: #fb7171;
$light-red600: #fb5c5c;
$light-red700: #fe4141;

$light-green000: #eeffee;
$light-green100: #dfffdf;
$light-green200: #c6ffc6;
$light-green300: #abfbab;
$light-green400: #90fd90;
$light-green500: #70fd70;
$light-green600: #59f959;
$light-green700: #2fff2f;

$light-blue000: #f7f7ff;
$light-blue100: #e1e1ff;
$light-blue200: #c1c1fc;
$light-blue300: #9d9dfd;
$light-blue400: #8989ff;
$light-blue500: #7272ff;
$light-blue600: #5959ff;
$light-blue700: #3e3eff;

$light-purple000: #e8d2f9;
$light-purple100: #e3c4fb;
$light-purple200: #ddb8fa;
$light-purple300: #d1a1f6;
$light-purple400: #c98ff6;
$light-purple500: #c481f7;
$light-purple600: #ba68f9;
$light-purple700: #ae4ff7;

$light-gray000: #e7e7e7;
$light-gray100: #d3d3d3;
$light-gray200: #b8b8b8;
$light-gray300: #a5a5a5;
$light-gray400: #959595;

$light-success: $light-blue700;
$light-info: $light-green500;
$light-warning: #f4fb21;
$light-danger: $light-red700;
$light-background: #f0fbfb;
$light-text: #262828;
