@import '../Footer.module.scss';

$footer-background: var(--footer-background);
$footer-color: var(--footer-color);

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  min-height: $footer-height;
  max-height: $footer-height;
  width: 100%;
  background: $footer-background;
  color: $footer-color;
}
