@import './variable/color.module.scss';
@import './variable/size.module.scss';

@mixin mark {
  transition: border-color 0.1s, color 0.1s;
  .mark {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    & > svg {
      transition: all 0.1s cubic-bezier(0.4, 0, 1, 1) 0ms;
      visibility: hidden;
    }
  }
  &.checked {
    .mark > svg {
      visibility: visible;
    }
  }
}

@mixin color-set {
  border: 2px solid $ss-c-checkbox-border;
  color: $ss-c-checkbox-text;

  .mark > svg {
    color: $ss-c-checkbox-mark-checked;
  }

  &.checked {
    border-color: $ss-c-checkbox-border-checked;
    .mark > svg {
      color: $ss-c-checkbox-mark-checked;
      background: $ss-c-checkbox-bg-checked;
    }
    &.disabled {
      border-color: $ss-c-checkbox-border-checked-disabled;
      .mark > svg {
        background: $ss-c-checkbox-bg-checked-disabled;
        color: $ss-c-checkbox-mark-checked-disabled;
      }
    }
    &:not(.disabled):hover {
      border-color: $ss-c-checkbox-border-checked-hover;
      .mark > svg {
        background: $ss-c-checkbox-bg-checked-hover;
        color: $ss-c-checkbox-mark-checked-hover;
      }
    }
  }

  &.disabled {
    border-color: $ss-c-checkbox-border-disabled;
    color: $ss-c-checkbox-text-disabled;
    .mark > svg {
      visibility: visible;
      background: $ss-c-checkbox-bg-disabled;
      color: $ss-c-checkbox-bg-disabled;
    }
  }

  &:not(.disabled):hover {
    border-color: $ss-c-checkbox-border-hover;
    color: $ss-c-checkbox-text-hover;
  }
}

@mixin default {
  border-radius: 2px;
  cursor: pointer;
  column-gap: 8px;
  align-items: center;
  -webkit-box-align: center;
  width: $ss-size-checkbox;
  height: $ss-size-checkbox;
  aspect-ratio: 1;
}

@mixin disabled {
  &.disabled {
    cursor: not-allowed;
  }
}

.checkbox {
  @include default;
  @include disabled;
  @include color-set;
  @include mark;
}
