@import './variable/color.module.scss';
@import './variable/size.module.scss';

@mixin mark {
  transition: border-color 0.1s, color 0.1s;
  .mark {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    & > svg {
      transition: all 0.1s cubic-bezier(0.4, 0, 1, 1) 0ms;
      visibility: hidden;
    }
  }
  &.checked {
    .mark > svg {
      visibility: visible;
    }
  }
}

@mixin color-set {
  border: 2px solid $checkbox-border;
  color: $checkbox-text;

  .mark > svg {
    color: $checkbox-mark-checked;
  }

  &.checked {
    border-color: $checkbox-border-checked;
    .mark > svg {
      color: $checkbox-mark-checked;
      background: $checkbox-background-checked;
    }
    &.disabled {
      border-color: $checkbox-border-checked-disabled;
      .mark > svg {
        background: $checkbox-background-checked-disabled;
        color: $checkbox-mark-checked-disabled;
      }
    }
    &:not(.disabled):hover {
      border-color: $checkbox-border-checked-hover;
      .mark > svg {
        background: $checkbox-background-checked-hover;
        color: $checkbox-mark-checked-hover;
      }
    }
  }

  &.disabled {
    border-color: $checkbox-border-disabled;
    color: $checkbox-text-disabled;
    .mark > svg {
      visibility: visible;
      background: $checkbox-background-disabled;
      color: $checkbox-background-disabled;
    }
  }

  &:not(.disabled):hover {
    border-color: $checkbox-border-hover;
    color: $checkbox-text-hover;
  }
}

@mixin size {
  &.xs {
    width: 12px;
    height: 12px;
    font-size: 12px;
    .mark {
      font-size: 12px;
    }
  }
  &.sm {
    width: 14px;
    height: 14px;
    font-size: 14px;
    .mark {
      font-size: 14px;
    }
  }
  &.md {
    width: 16px;
    height: 16px;
    font-size: $fontSize;
    .mark {
      font-size: $fontSize;
    }
  }
  &.lg {
    width: 24px;
    height: 24px;
    font-size: 20px;
    .mark {
      font-size: 24px;
    }
  }
}

@mixin default {
  border-radius: 2px;
  cursor: pointer;
  column-gap: 8px;
  align-items: center;
  -webkit-box-align: center;
}

@mixin disabled {
  &.disabled {
    cursor: not-allowed;
  }
}

.checkbox {
  @include default;
  @include disabled;
  @include color-set;
  @include mark;
  @include size;
}
