@import './variable/color.module.scss';

@mixin color-set {
  background: $ss-c-footer-bg;
  color: $ss-c-footer-text;
}

.footer {
  width: inherit;
  min-height: var(--footerMinHeight);
  max-height: var(--footerMaxHeight);
  @include color-set;
}
