@import './variable/color.module.scss';
@import './variable/size.module.scss';

@mixin color-set {
  background: $ss-c-footer-bg;
  color: $ss-c-footer-text;
}

.footer {
  width: inherit;
  min-height: $ss-size-footer-min-height;
  max-height: $ss-size-footer-max-height;
  @include color-set;
}
