@import '../variable/variable.module.scss';

.menu {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  width: calc(100% - 24px);
  border-radius: 8px 0 0 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  &.selected {
    background: white;
  }
}
