$resolution_width_360: 360;
$resolution_width_480: 480;
$resolution_width_608: 608;
$resolution_width_768: 768;
$resolution_width_800: 800;

$resolution_height_267: 267;
$resolution_height_340: 340;
$resolution_height_480: 480;
$resolution_height_600: 600;
$resolution_height_780: 780;

html {
  font-size: 16px;
  @media (max-width: #{$resolution_width_768}px) {
    font-size: 14px;
  }
  @media (max-width: #{$resolution_width_480}px) {
    font-size: 12px;
  }
  @media (max-width: #{$resolution_width_360}px) {
    font-size: 10px;
  }
}
