@import './theme/theme.module.scss';

@mixin theme {
  &.light {
    @include button-light;
    @include h-menu-light;
    @include tab-light;
    @include spinner-light;
    @include text-light;
  }
  &.dark {
    @include button-dark;
    @include h-menu-dark;
    @include tab-dark;
    @include spinner-dark;
    @include text-dark;
  }
}

.storybook {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  @include theme;
}
