@import '@styles/color.module.scss';
@import './theme/theme.module.scss';

@mixin theme {
  &.light {
    @include button-light;
    @include h-menu-light;
    @include tab-light;
    @include spinner-light;
    @include text-light;
    @include popup-light;
    @include checkbox-light;
    @include radio-light;
    @include input-light;
    @include switch-light;
    @include progressbar-light;
    @include sideNav-light;
    @include header-light;
    @include footer-light;
    @include row-light;
    background: $light-background;
    color: $light-text;
  }
  &.dark {
    @include button-dark;
    @include h-menu-dark;
    @include tab-dark;
    @include spinner-dark;
    @include text-dark;
    @include popup-dark;
    @include checkbox-dark;
    @include radio-dark;
    @include input-dark;
    @include switch-dark;
    @include progressbar-dark;
    @include sideNav-dark;
    @include header-dark;
    @include footer-dark;
    @include row-dark;
    background: $dark-background;
    color: $dark-text;
  }
}

.storybook {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: calc(100% - 32px);
  height: 100vh;
  overflow: auto;
  @include theme;
  .contents {
    height: 100%;
  }
  .float {
    .float-btn {
      width: 46px;
    }
  }
}
