@import '@styles/color.module.scss';
@import './theme/theme.module.scss';

@mixin theme {
  &.light {
    @include button-light;
    @include h-menu-light;
    @include tab-light;
    @include spinner-light;
    @include text-light;
    @include popup-light;
    @include checkbox-light;
    @include radio-light;
    @include input-light;
    @include switch-light;
    @include progressbar-light;
    background: $light-background;
  }
  &.dark {
    @include button-dark;
    @include h-menu-dark;
    @include tab-dark;
    @include spinner-dark;
    @include text-dark;
    @include popup-dark;
    @include checkbox-dark;
    @include radio-dark;
    @include input-dark;
    @include switch-dark;
    @include progressbar-dark;
    background: $dark-background;
  }
}

.storybook {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100vw;
  height: 100vh;
  @include theme;
}
