.float {
  --upcast-layout-float-top: 0px;
  --upcast-layout-float-bottom: 0px;
  --upcast-layout-float-left: 0px;
  --upcast-layout-float-right: 0px;
}

.spacing {
  --upcast-layout-spacing-gap: 0px;
}
