.nav-group {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1), padding 0.5s;
  &.show {
    max-height: 100vh;
    transition: max-height 0.3s ease-in-out;
  }
  .gap {
    height: 6px;
  }
}
