@import '../style.module.scss';

@mixin color-set {
  color: $light-text;
  &:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  &:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  &:hover:not(.disabled) {
    color: $light-text;
    background: $light-primary200;
  }
  &.disabled {
    color: $light-blue000;
    background: $light-gray100;
  }
}

@mixin tab-option {
  height: inherit;
  transition: background-color 0.2s;
  padding: 0.9rem;
  box-sizing: border-box;
  cursor: pointer;
  text-wrap: nowrap;
  @include flex;
  @include center-vertical;
  @include center-horizontal;
  &.disabled {
    cursor: not-allowed;
  }
}

.tab-option {
  @include tab-option;
  @include color-set;
}
