@import '../../styles/color/color.module.scss';
@import '../../layout/display.scss';

.card {
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid;
  border-color: $light-gray400;
  background-color: $light-background;
  overflow: auto;
  box-sizing: border-box;
  @include display;
  @include position-center;
}
