@import '../GNB.module.scss';

.menu-group {
  overflow: hidden;
  max-height: 0;
  @include transition(max-height 1s ease-in-out, padding 1s);
  &.show {
    max-height: 100vh;
  }
  &.collapse {
    max-height: 0;
    padding: 0;
    @include transition(max-height 1s cubic-bezier(0, 1, 0, 1), padding 1s);
  }
}
