@import 'src/styles/color.module.scss';

$ss-c-tab-bg: var(--ss-c-tab-bg, $light-primary000);
$ss-c-tab-bg-hover: var(--ss-c-tab-bg-hover, $light-blue100);
$ss-c-tab-bg-disabled: var(--ss-c-tab-bg-disabled, $light-primary100);

$ss-c-tab-select-line: var(--ss-c-tab-select-line, $light-blue200);

$ss-c-tab-text: var(--ss-c-tab-text, $light-primary900);
$ss-c-tab-text-hover: var(--ss-c-tab-text-hover, $light-primary800);
$ss-c-tab-text-disabled: var(--ss-c-tab-text-disabled, $light-primary500);
