@import './variable/color.module.scss';
@import './variable/size.module.scss';

@mixin color-set {
  border: 1px solid $ss-c-table-border;
  background: $ss-c-table-bg;
  color: $ss-c-table-text;
  .table {
    .thead > .tr {
      .th,
      .td {
        background: $ss-c-table-header-bg;
      }
    }
    .tbody {
      .tr {
        border-top: 1px solid $ss-c-table-divide-line;
        &:hover {
          background: $ss-c-table-body-bg-hover;
        }
      }
    }
    .tfoot > .tr {
      border-top: 1px solid $ss-c-table-divide-line;
      .td,
      .th {
        background: $ss-c-table-footer-bg;
      }
    }
  }
  .pagination > .index {
    color: $ss-c-table-pagination-index-text;
    background: $ss-c-table-pagination-index-bg;
    &.selected {
      background: $ss-c-table-pagination-index-bg-selected;
      color: $ss-c-table-pagination-index-text-selected;
    }
  }
  .pagination {
    .left,
    .right {
      fill: $ss-c-table-pagination-arrow;
    }
  }
}

.table-container {
  width: inherit;
  border-radius: 8px;
  white-space: nowrap;
  padding: 8px 24px;
  overflow: scroll;
  @include color-set;
  .table {
    border-collapse: collapse;
    width: 100%;
    .caption {
      padding: 16px;
      text-align: start;
    }
    .thead,
    .tfoot {
      .tr {
        .th,
        .td {
          padding: 16px;
          text-align: start;
        }
      }
    }
    .thead {
      .tr {
        .th,
        .td {
          &:first-child {
            border-top-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
          }
        }
      }
    }
    .tbody {
      .tr {
        .td,
        .th {
          padding: 16px;
        }
      }
    }
    .tfoot {
      .tr {
        .td,
        .th {
          &:first-child {
            border-bottom-left-radius: 4px;
          }
          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }

  .pagination {
    width: 100%;
    padding: 16px 0;
    column-gap: 8px;
    .index {
      width: 32px;
      aspect-ratio: 1;
      place-content: center;
      border-radius: 50%;
      cursor: pointer;
    }
    .left,
    .right {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
    .right {
      transform: rotate(180deg);
    }
  }
}
