@import './variable/color.module.scss';
@import './variable/size.module.scss';

.table-container {
  width: inherit;
  border: 1px solid $tableBorder;
  border-radius: 8px;
  white-space: nowrap;
  padding: 8px 24px;
  background: $tableBackground;
  color: $tableText;
  .table {
    border-collapse: collapse;
    width: 100%;
    display: table;
    .caption {
      padding: 16px;
      text-align: start;
    }
    .thead,
    .tfoot {
      .tr {
        .th,
        .td {
          padding: 16px;
          text-align: start;
        }
      }
    }
    .thead {
      .tr {
        .th {
          background: $tableHeaderBackground;
          &:first-child {
            border-top-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
          }
        }
      }
    }
    .tbody {
      .tr {
        transition: background-color 0.1s ease-in-out;
        border-top: 1px solid $tableBodyBackground;
        border-bottom: 1px solid $tableBodyBackground;
        &:hover {
          background: $tableBodyBackgroundHover;
        }
        .td {
          padding: 16px;
        }
      }
    }
    .tfoot {
      .tr {
        .th,
        .td {
          background: $tableFooterBackground;
          &:first-child {
            border-bottom-left-radius: 4px;
          }
          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}
