$upcast-layout-float-top: var(--upcast-layout-float-top, 0px);
$upcast-layout-float-bottom: var(--upcast-layout-float-bottom, 0px);
$upcast-layout-float-left: var(--upcast-layout-float-left, 0px);
$upcast-layout-float-right: var(--upcast-layout-float-right, 0px);

.float {
  position: fixed;
  &.lt {
    left: $upcast-layout-float-left;
    top: $upcast-layout-float-top;
  }
  &.lb {
    left: $upcast-layout-float-left;
    bottom: $upcast-layout-float-bottom;
  }
  &.rt {
    right: $upcast-layout-float-right;
    top: $upcast-layout-float-top;
  }
  &.rb {
    right: $upcast-layout-float-right;
    bottom: $upcast-layout-float-bottom;
  }
}
