$ss-layout-float-top: var(--ss-layout-float-top, 0px);
$ss-layout-float-bottom: var(--ss-layout-float-bottom, 0px);
$ss-layout-float-left: var(--ss-layout-float-left, 0px);
$ss-layout-float-right: var(--ss-layout-float-right, 0px);

.float {
  position: fixed;
  &.lt {
    left: $ss-layout-float-left;
    top: $ss-layout-float-top;
  }
  &.lb {
    left: $ss-layout-float-left;
    bottom: $ss-layout-float-bottom;
  }
  &.rt {
    right: $ss-layout-float-right;
    top: $ss-layout-float-top;
  }
  &.rb {
    right: $ss-layout-float-right;
    bottom: $ss-layout-float-bottom;
  }
}
