@import 'src/layout/Flex/flex.scss';

@mixin center-vertical {
  align-items: center;
  -webkit-box-align: center;
}

@mixin center-horizontal {
  justify-content: center;
  -webkit-box-pack: center;
}

.center {
  @include flex;
  height: 100%;
  width: 100%;
  &.vertical {
    @include center-vertical;
  }
  &.horizontal {
    @include center-horizontal;
  }
}
