@import '../../styles/color/color.module.scss';
@import '../../layout/display.scss';

.badge {
  display: inline-block;
  white-space: nowrap;
  padding: 0.5rem;
  border-radius: 1rem;
  min-height: 0.75rem;
  @include display;
  &.custom {
    color: none;
    background: none;
  }
  &.primary {
    color: $light-text;
    background: $light-primary200;
  }
  &.success {
    color: $light-primary000;
    background: $light-success;
  }
  &.info {
    color: $light-text;
    background: $light-info;
  }
  &.warning {
    color: $light-text;
    background: $light-warning;
  }
  &.danger {
    color: $light-primary000;
    background: $light-danger;
  }
}
