@import '../../../styles/color/color.module.scss';

$cdkit-color-button-bg: var(--cdkit-color-button-bg, $light-primary000);
$cdkit-color-button-bg-hover: var(
  --cdkit-color-button-bg-hover,
  $light-primary100
);
$cdkit-color-button-bg-disabled: var(
  --cdkit-color-button-bg-disabled,
  $light-gray000
);
$cdkit-color-button-bg-active: var(
  --cdkit-color-button-bg-active,
  $light-primary300
);

$cdkit-color-button-bg-ripple: var(
  --cdkit-color-button-bg-ripple,
  $light-primary200
);

$cdkit-color-button-text: var(--cdkit-color-button-text, $light-text);
$cdkit-color-button-text-hover: var(
  --cdkit-color-button-text-hover,
  $light-text
);
$cdkit-color-button-text-disabled: var(
  --cdkit-color-button-text-disabled,
  $light-gray200
);
$cdkit-color-button-text-active: var(--cdkit-color-button-text-active, $black);

$cdkit-color-button-box-shadow: var(
  --cdkit-color-button-box-shadow,
  0px 2px 4px rgba(0, 0, 0, 0.1)
);
$cdkit-color-button-outline: var(
  --cdkit-color-button-outline,
  $light-primary300
);
$cdkit-color-button-outline-disabled: var(
  --cdkit-color-button-outline-disabled,
  $light-gray300
);
