@import './variable/color.module.scss';
@import './variable/size.module.scss';

@keyframes progress {
  0% {
    left: -36px;
  }
  100% {
    left: calc(100% + 36px);
  }
}

@mixin color-set {
  .bar {
    background: $upcast-color-progress-bar;
  }
  .bar.exit {
    background: $upcast-color-progress-exit;
  }
  .bar > .pending {
    background: linear-gradient(
      0.25turn,
      $upcast-color-progress-bar,
      $upcast-color-progress-pending,
      $upcast-color-progress-bar
    );
  }
}

@mixin bar {
  .bar {
    height: 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    .pending {
      position: absolute;
      height: 100%;
      width: 36px;
      top: 0;
      left: -36px;
      animation: progress 1.3s infinite;
    }
  }
}

@mixin progress-body {
  width: 100%;
  height: $upcast-size-progress-height;
  background: $upcast-color-progress-body;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  @include progress-body;
  @include bar;
  @include color-set;
}
