$dark-primary000: #ffffff;
$dark-primary100: #d5d5d5;
$dark-primary200: #9c9c9c;
$dark-primary300: #818181;
$dark-primary400: #3d3d3d;
$dark-primary500: #292929;
$dark-primary600: #1d1d1d;
$dark-primary700: #000000;

$dark-blue000: #eeeeff;
$dark-blue100: #d3d3ff;
$dark-blue200: #b0b0ff;
$dark-blue300: #9090ff;
$dark-blue400: #7979ff;
$dark-blue500: #4b4bff;
$dark-blue600: #2d2dff;
$dark-blue700: #0000ff;

$dark-green000: #eeffee;
$dark-green100: #d3ffd3;
$dark-green200: #b0ffb0;
$dark-green300: #90ff90;
$dark-green400: #79ff79;
$dark-green500: #4bff4b;
$dark-green600: #2dff2d;
$dark-green700: #00ff00;

$dark-red000: #ffeeee;
$dark-red100: #ffd3d3;
$dark-red200: #ffb0b0;
$dark-red300: #ff9090;
$dark-red400: #ff7979;
$dark-red500: #ff4b4b;
$dark-red600: #ff2d2d;
$dark-red700: #ff0000;
