$dark-primary000: #000000;
$dark-primary100: #1d1d1d;
$dark-primary200: #292929;
$dark-primary300: #3d3d3d;
$dark-primary400: #818181;
$dark-primary500: #9c9c9c;
$dark-primary600: #d5d5d5;
$dark-primary700: #ffffff;

$dark-blue000: #0000dd;
$dark-blue100: #2d2ddd;
$dark-blue200: #4b4bdd;
$dark-blue300: #7979dd;
$dark-blue400: #9090dd;
$dark-blue500: #b0b0dd;
$dark-blue600: #d3d3dd;
$dark-blue700: #eeeedd;

$dark-green000: #00dd00;
$dark-green100: #2ddd2d;
$dark-green200: #4bdd4b;
$dark-green300: #79dd79;
$dark-green400: #90dd90;
$dark-green500: #b0ddb0;
$dark-green600: #d3ddd3;
$dark-green700: #eeddee;

$dark-red000: #dd0000;
$dark-red100: #dd2d2d;
$dark-red200: #dd4b4b;
$dark-red300: #dd7979;
$dark-red400: #dd9090;
$dark-red500: #ddb0b0;
$dark-red600: #ddd3d3;
$dark-red700: #ddeeee;

$dark-background: #1d1d1d;
