$light-primary000: #ffffff;
$light-primary001: #ededed;
$light-primary100: #d5d5d5;
$light-primary200: #9c9c9c;
$light-primary300: #818181;
$light-primary301: #6c6c6c;
$light-primary400: #3d3d3d;
$light-primary500: #292929;
$light-primary600: #1d1d1d;
$light-primary700: #000000;

$light-blue000: #eeeeff;
$light-blue100: #d3d3ff;
$light-blue200: #b0b0ff;
$light-blue300: #9090ff;
$light-blue400: #7979ff;
$light-blue500: #4b4bff;
$light-blue600: #2d2dff;
$light-blue700: #0000ff;

$light-green000: #eeffee;
$light-green100: #d3ffd3;
$light-green200: #b0ffb0;
$light-green300: #90ff90;
$light-green400: #79ff79;
$light-green500: #4bff4b;
$light-green600: #2dff2d;
$light-green700: #00ff00;

$light-red000: #ffeeee;
$light-red100: #ffd3d3;
$light-red200: #ffb0b0;
$light-red300: #ff9090;
$light-red400: #ff7979;
$light-red500: #ff4b4b;
$light-red600: #ff2d2d;
$light-red700: #ff0000;
