$light-primary000: #f4f4f4;
$light-primary100: #e2e2e2;
$light-primary200: #cacaca;
$light-primary300: #b7b7b7;
$light-primary400: #a8a8a8;
$light-primary500: #919191;
$light-primary600: #797979;
$light-primary700: #676767;
$light-primary800: #505050;
$light-primary900: #2f2f2f;

$light-blue000: #f7f7ff;
$light-blue100: #e1e1ff;
$light-blue200: #c1c1fc;
$light-blue300: #9d9dfd;
$light-blue400: #8989ff;
$light-blue500: #7272ff;
$light-blue600: #5959ff;
$light-blue700: #3e3eff;

$light-green000: #eeffee;
$light-green100: #dfffdf;
$light-green200: #c6ffc6;
$light-green300: #abfbab;
$light-green400: #90fd90;
$light-green500: #70fd70;
$light-green600: #59f959;
$light-green700: #2fff2f;

$light-red000: #fff2f2;
$light-red100: #fee3e3;
$light-red200: #ffd3d3;
$light-red300: #f7b3b3;
$light-red400: #ffa1a1;
$light-red500: #ff9292;
$light-red600: #ff7f7f;
$light-red700: #ff6565;
$light-red800: #fe5656;
$light-red900: #ff3b3b;

$light-background: #ebebeb;
$light-text: $light-primary900;
