@import '../../../styles/color/color.module.scss';

$cdkit-color-textarea-border: var(
  --cdkit-color-textarea-border,
  $light-primary600
);
$cdkit-color-textarea-border-focus: var(
  --cdkit-color-textarea-border-focus,
  $light-blue500
);
$cdkit-color-textarea-border-error: var(
  --cdkit-color-textarea-border-error,
  $light-danger
);
$cdkit-color-textarea-border-disabled: var(
  --cdkit-color-textarea-border-disabled,
  $light-gray100
);
$cdkit-color-textarea-border-hover: var(
  --cdkit-color-textarea-border-hover,
  $light-blue300
);

$cdkit-color-textarea-bg: var(--cdkit-color-textarea-bg, $light-background);
$cdkit-color-textarea-bg-focus: var(
  --cdkit-color-textarea-bg-focus,
  $light-background
);
$cdkit-color-textarea-bg-error: var(
  --cdkit-color-textarea-bg-error,
  $light-background
);
$cdkit-color-textarea-bg-disabled: var(
  --cdkit-color-textarea-bg-disabled,
  $light-gray000
);
$cdkit-color-textarea-bg-hover: var(
  --cdkit-color-textarea-bg-hover,
  $light-background
);

$cdkit-color-textarea-text: var(--cdkit-color-textarea-text, $light-text);
$cdkit-color-textarea-text-focus: var(
  --cdkit-color-textarea-text-focus,
  $light-text
);
$cdkit-color-textarea-text-error: var(
  --cdkit-color-input-text-error,
  $light-text
);
$cdkit-color-textarea-text-disabled: var(
  --cdkit-color-textarea-text-disabled,
  $light-gray200
);
$cdkit-color-textarea-text-hover: var(
  --cdkit-color-textarea-text-hover,
  $light-text
);

$cdkit-color-textarea-placeholder: var(
  --cdkit-color-textarea-placeholder,
  $light-gray100
);
$cdkit-color-textarea-placeholder-disabled: var(
  --cdkit-color-textarea-placeholder-disabled,
  $light-gray100
);
