@import '../variable/color.module.scss';

@mixin color-set {
  --cdkit-color-input-border: #{$cdkit-color-select-box-border};
  --cdkit-color-input-border-focus: #{$cdkit-color-select-box-border-focus};
  --cdkit-color-input-border-error: #{$cdkit-color-select-box-border-error};
  --cdkit-color-input-border-disabled: #{$cdkit-color-select-box-border-disabled};
  --cdkit-color-input-border-hover: #{$cdkit-color-select-box-border-hover};

  --cdkit-color-input-bg: #{$cdkit-color-select-box-bg};
  --cdkit-color-input-bg-focus: #{$cdkit-color-select-box-bg-focus};
  --cdkit-color-input-bg-error: #{$cdkit-color-select-box-bg-error};
  --cdkit-color-input-bg-disabled: #{$cdkit-color-select-box-bg-disabled};
  --cdkit-color-input-bg-hover: #{$cdkit-color-select-box-bg-hover};

  --cdkit-color-input-text: #{$cdkit-color-select-box-text};
  --cdkit-color-input-text-focus: #{$cdkit-color-select-box-text-focus};
  --cdkit-color-input-text-error: #{$cdkit-color-select-box-text-error};
  --cdkit-color-input-text-disabled: #{$cdkit-color-select-box-text-disabled};
  --cdkit-color-input-text-hover: #{$cdkit-color-select-box-text-hover};

  --cdkit-color-input-placeholder: #{$cdkit-color-select-box-placeholder};
  --cdkit-color-input-placeholder-disabled: #{$cdkit-color-select-box-placeholder-disabled};

  .input-box.open:not(.error) {
    border-color: $cdkit-color-select-box-border-focus;
    background: $cdkit-color-select-box-bg-focus;
    color: $cdkit-color-select-box-text-focus;
  }
}

@mixin container {
  position: relative;
  width: 100%;
}

@mixin input-box {
  .input-box {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 32px 10px 10px;
  }
}

@mixin icon {
  .icon {
    top: 50%;
    transform: translateY(-55%) rotate(0deg);
    &.open {
      transform: translateY(-55%) rotate(-180deg);
    }
  }
}

.container {
  @include container;
  @include input-box;
  @include icon;
  @include color-set;
}
