@import '../../../styles/color/color.module.scss';

@mixin tab-mark {
  position: absolute;
  transition: all 0.2s;
  z-index: 1;
  background-color: $light-blue300;
}

.tab-mark {
  @include tab-mark;
}
