@import 'src/styles/color.module.scss';

$sideNav-background: var(
  --side-nav-background,
  linear-gradient(#{$light-primary200}, #{$light-primary000})
);
$sideNav-box-shadow: var(
  --sideNav-box-shadow,
  0px 3px 6px rgba(64, 64, 64, 0.3)
);

$sideNav-menu-background: var(--sideNav-menu-background);
$sideNav-menu-background-selected: var(
  --sideNav-menu-background-selected,
  $light-primary000
);
$sideNav-menu-background-disabled: var(
  --sideNav-menu-background-disabled,
  $light-primary300
);

$sideNav-menu-text: var(--sideNav-menu-text, $light-primary900);
$sideNav-menu-text-selected: var(
  --sideNav-menu-text-selected,
  $light-primary900
);
$sideNav-menu-text-hover: var(--sideNav-menu-text-hover, $light-blue700);
$sideNav-menu-text-disabled: var(
  --sideNav-menu-text-disabled,
  $light-primary500
);

$sideNav-menu-box-shadow: var(--sideNav-menu-box-shadow);
$sideNav-menu-box-shadow-selected: var(
  --sideNav-menu-box-shadow-selected,
  0px 3px 6px rgba(64, 64, 64, 0.1)
);
