@import 'src/styles/color/color.module.scss';

$cdk-color-side-nav-bg: var(
  --cdk-color-side-nav-bg,
  linear-gradient(#{$light-primary200}, #{$light-primary000})
);
$cdk-color-side-nav-box-shadow: var(
  --cdk-color-side-nav-box-shadow,
  0px 3px 6px rgba(64, 64, 64, 0.3)
);

$cdk-color-side-nav-menu-bg: var(--cdk-color-side-nav-menu-bg);
$cdk-color-side-nav-menu-bg-selected: var(
  --cdk-color-side-nav-menu-bg-selected,
  $light-primary000
);
$cdk-color-side-nav-menu-bg-disabled: var(
  --cdk-color-side-nav-menu-bg-disabled,
  $light-gray300
);

$cdk-color-side-nav-menu-text: var(--cdk-color-side-nav-menu-text, $light-text);
$cdk-color-side-nav-menu-text-selected: var(
  --cdk-color-side-nav-menu-text-selected,
  $light-text
);
$cdk-color-side-nav-menu-text-hover: var(
  --cdk-color-side-nav-menu-text-hover,
  $light-text
);
$cdk-color-side-nav-menu-text-disabled: var(
  --cdk-color-side-nav-menu-text-disabled,
  $light-gray100
);

$cdk-color-side-nav-menu-box-shadow: var(--cdk-color-side-nav-menu-box-shadow);
$cdk-color-side-nav-menu-box-shadow-selected: var(
  --cdk-color-side-nav-menu-box-shadow-selected,
  0px 1px 3px rgba(8, 104, 99, 0.2)
);
