@import 'src/styles/color.module.scss';

$sideNav-background: var(
  --ss-c-side-nav-bg,
  linear-gradient(#{$light-primary200}, #{$light-primary000})
);
$ss-c-side-nav-box-shadow: var(
  --ss-c-side-nav-box-shadow,
  0px 3px 6px rgba(64, 64, 64, 0.3)
);

$sideNav-menu-background: var(--sideNav-menu-background);
$ss-c-side-nav-menu-bg-selected: var(
  --ss-c-side-nav-menu-bg-selected,
  $light-primary000
);
$ss-c-side-nav-menu-bg-disabled: var(
  --ss-c-side-nav-menu-bg-disabled,
  $light-primary300
);

$ss-c-side-nav-menu-text: var(--ss-c-side-nav-menu-text, $light-primary900);
$ss-c-side-nav-menu-text-selected: var(
  --ss-c-side-nav-menu-text-selected,
  $light-primary900
);
$ss-c-side-nav-menu-text-hover: var(
  --ss-c-side-nav-menu-text-hover,
  $light-blue700
);
$ss-c-side-nav-menu-text-disabled: var(
  --ss-c-side-nav-menu-text-disabled,
  $light-primary500
);

$sideNav-menu-box-shadow: var(--sideNav-menu-box-shadow);
$ss-c-side-nav-menu-box-shadow-selected: var(
  --ss-c-side-nav-menu-box-shadow-selected,
  0px 3px 6px rgba(64, 64, 64, 0.1)
);
