@import 'src/layout/Flex/flex.scss';

$gap: var(--layoutStackGap, 0px);

.stack {
  @include flex;
  &.column {
    flex-direction: column;
    row-gap: $gap;
  }
  &.row {
    flex-direction: row;
    column-gap: $gap;
  }
}
