@import 'src/styles/color/color.module.scss';

.row {
  width: inherit;
  padding: 16px 24px;
  border-radius: 6px;
  background: var(--ss-c-row-bg, $light_primary000);
  box-shadow: var(--ss-c-row-box-shadow, 0px 3px 6px rgba(64, 64, 64, 0.2));
}
