@import '@styles/color.module.scss';

// border
$checkbox-border: var(--checkbox-border, $light-primary300);
$checkbox-border-checked: var(--checkbox-border-checked, $light-blue400);
$checkbox-border-checked-disabled: var(
  --checkbox-border-checked-disabled,
  $light-primary400
);
$checkbox-border-checked-hover: var(
  --checkbox-border-checked-hover,
  $light-blue500
);
$checkbox-border-disabled: var(--checkbox-border-disabled, $light-primary300);
$checkbox-border-hover: var(--checkbox-border-hover, $light-blue500);

// background
$checkbox-background-checked: var(
  --checkbox-background-checked,
  $light-blue400
);
$checkbox-background-checked-disabled: var(
  --checkbox-background-checked-disabled,
  $light-primary400
);
$checkbox-background-checked-hover: var(
  --checkbox-background-checked-hover,
  $light-blue500
);
$checkbox-background-disabled: var(
  --checkbox-background-disabled,
  $light-primary200
);

$checkbox-text: var(--checkbox-text, $light-primary900);
$checkbox-text-hover: var(
  --checkbox-text-hover,
  $checkbox-border-checked-hover
);
$checkbox-text-disabled: var(
  --checkbox-text-disabled,
  $checkbox-border-disabled
);

// mark
$checkbox-mark-checked: var(--checkbox-mark-checked, $light-primary000);
$checkbox-mark-checked-disabled: var(
  --checkbox-mark-checked-disabled,
  $light-primary200
);
$checkbox-mark-checked-hover: var(
  --checkbox-mark-checked-hover,
  $light-primary000
);
