@import '../../styles/color/color.module.scss';
@import '../../layout/Flex/flex.scss';
@import '../../layout/Center/style.module.scss';

@mixin tab {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 0.25rem;
  align-items: center;
  background: $light-primary000;
}

.tab {
  @include tab;
}
