@import '../../styles/color/color.module.scss';
@import './Options/style.module.scss';
@import './Option/style.module.scss';
@import './Mark/style.module.scss';

@mixin tab {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 0.25rem;
  align-items: center;
  background-color: $light-primary000;
}

.tab {
  @include tab;
}
