@import './variable/variable.module.scss';

.header {
  width: inherit;
  justify-content: space-between;
  background: $header-background;
  color: $header-text;
  min-height: var(--header-min-height);
  max-height: var(--header-max-height);
}
