@import './variable/color.module.scss';

.header {
  width: inherit;
  justify-content: space-between;
  background: $header-background;
  color: $header-text;
  min-height: var(--headerMinHeight);
  max-height: var(--headerMaxHeight);
}
