@import './variable/variable.module.scss';

.header {
  padding: 28px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $header-background;
  color: $header-text;
}
