@import '@styles/color.module.scss';

$input-border: var(--input-border, $light-primary900);
$input-border-focus: var(--input-border-focus, $light-blue500);
$input-border-error: var(--input-border-error, $light-red900);

$input-background: var(--input-background, $light-primary000);

$input-text: var(--input-text, $light-primary900);

$input-placeholder: var(--input-placeholder, $light-primary400);

$input-box-shadow: var(--input-box-shadow, 0px 3px 6px rgba(62, 62, 62, 0.1));
